{
    "parser"  : "babel-eslint",
    "extends" : [
        "airbnb-base"
    ],
    "env": {
        "browser": true
    },
    "rules": {
        "global-require": 0,
        "new-cap": "off", // For Record() etc.
        "max-len": [1, 120, 2, {"ignoreComments": true}],
        "no-multiple-empty-lines": ["error", { "max": 3, "maxEOF": 1 }],
        "newline-per-chained-call": 0,
        "no-class-assign": 0, // Class assign is used for higher order components.
        "no-nested-ternary": 0, // It's nice for JSX.
        "no-param-reassign": 0, // We love param reassignment. Naming is hard.
        "no-shadow": 0, // Shadowing is a nice language feature. Naming is hard.
        "import/imports-first": 0, // Este sorts by atom/sort-lines natural order.
        "no-confusing-arrow": 0, // This rule is super confusing.
        "no-console": 0,
        "spaced-comment": [1, "always", {"exceptions": ["-"]}],
        "arrow-body-style": 1,
        "array-callback-return": "off",
        "no-unused-expressions": "off",
        "no-prototype-builtins": "off"
    }
}

