@import 'bootstrap/variables';
@import 'bootstrap/bootstrap';
@import 'variables';
@import 'base/*';

html,
body,
form {
  height: 100%;
}

body {
  font-family: $font-family-base;
  color: $brand-darker;
  line-height: 1.5;
}

@import 'components/*';
