/*
========================
        COLOR
========================
*/

// colors
$brand-primary: #ff6d19;
$brand-secondary: #219cd9;
$brand-info: #ffbd31;
$brand-success: #00bb89;
$brand-grey: #e4e7ea;
$brand-lightgrey: #f6f6f6;
$brand-dark: #404040;
$brand-darker: #2b2b2b;
$brand-dangerous: #c91c23;
$brand-white: #fff;
$brand-darkgrey: #a6a6a6;

/*
========================
        COMMENTS
========================
*/

$font-family-base: 'Lato', sans-serif;

/*
========================
        Font size
========================
*/

$font-xxl: 36px;
$font-xl: 30px;
$font-l: 24px;
$font-m: 20px;
$font-s: 16px;
$font-xs: 14px;
$font-xxs: 12px;

$border-radius: 2px;
$svg-path: '/gfx/svg/';
