/*
========================
        COLOR
========================
*/

// colors
$brand-primary: #ff6d19;
$brand-secondary: #009bd8;
$brand-info: #ffbd31;
$brand-success: #00bb89;
$brand-grey: #e4e7ea;
$brand-lightgrey: #f6f6f6;
$brand-dark: #404040;
$brand-darker: #2b2b2b;
$brand-dangerous: #c91c23;
$brand-white: #fff;
$brand-darkgrey: #a6a6a6;

// font colors
$font-grey: #777;
$font-dark-grey: #4a4a4a;
$font-dark: #404040;
$font-darker: #2b2b2b;
$font-black: #00011d;

$main-gutter-color: #edf1f5;
$sidebar-hover: #f0f4f5;

/*
========================
        COMMENTS
========================
*/

$font-family-base: 'Lato', sans-serif;
$base-layout-gradient: linear-gradient(180deg, #003d5c 0%, #0588cc 100%);

/*
========================
        Font size
========================
*/

$font-xxl: 30px;
$font-xl: 26px;
$font-l: 24px;
$font-m: 20px;
$font-s: 18px;
$font-xs: 16px;
$font-xxs: 12px;

$border-radius: 2px;
$main-layout-gutter: 10px;
$svg-path: '/gfx/svg/';
$border-layout: 5px;
