/*
========================
        COLOR
========================
*/

// colors
$brand-primary: #ff6d19;
$brand-secondary: #219cd9;
$brand-info: #ffbd31;
$brand-success: #00bb89;
$brand-grey: #e4e7ea;
$brand-dark: #404040;
$brand-darker: #2b2b2b;
$brand-dangerous: #c91c23;


/*
========================
        COMMENTS
========================
*/

$font-family-base: 'Avenir next', sans-serif;
$font-family-primary; 'Lato', sans-serif;
$font-family-secondary; 'Palatino', sans-serif;


/*
========================
        Font size
========================
*/

$font-xl: 36px;
$font-l: 30px;
$font-m: 24px;
$font-s: 20px;
$font-xs: 16px;
$font-xxs: 12px;
