/*
========================
        COLOR
========================
*/

// colors
$brand-primary: #009bd8;
$brand-secondary: #ff6d19;
$brand-info: #ffbd31;
$brand-success: #00bb89;
$brand-dangerous: #c91c23;
$brand-warning: #d0021b;

$brand-white:         #fff;
$brand-lightgrey:     #f6f6f6;
$brand-grey:          #e4e7ea;
$brand-darkgrey:      #a6a6a6;
$brand-red:           #f00;
$font-grey:           #777;
$brand-dark:          #404040;
$brand-darker:        #2b2b2b;
$font-black:          #00011d;
$main-gutter-color:   #edf1f5;
$brand-lightblue:     #1c617d;
$brand-darkwhite:     #f1f1f1;
$brand-black:         #000;
$brand-lightblack:    #333;

$table-bottom-shadow: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
$show-table-row-gardient: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
$show-table-row-gardient--gray: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, $brand-lightgrey 100%);
$steps-icon-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
$show-table-row-gardient:  linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
$show-table-row-gardient--gray:  linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, $brand-lightgrey 100%);
$form-bg: #eee;
$steps-icon-default-bg: linear-gradient(180deg, #e4e7ea 0%, #d9dbdc 100%);
$backdrop-shadow-color: rgba(28, 97, 125, .5);
$error-mark: #ff6d2e;
$success-mark: #00bd8c;
$font-success: #028b66;
$brand-yellow-light: #ffbd61;
$brand-info-light: #fff5e1;
$dropdown-border: #7c96a1;
$print_heading: #b5161a;
$cart_border: #dadada;
$main-right-bg: #f9e9e9;
$pwd-indicator: #e5e5e5;
$pwd-weak: #b12628;
$pwd-acceptable: #c98209;
$pwd-average: #1175ae;
$pwd-strong: #95be5f;
$pwd-excellent: #497d04;

/*
========================
        COMMENTS
========================
*/

$font-family-base: 'Lato', sans-serif;
$base-layout-gradient: linear-gradient(180deg, #003d5c 0%, #0588cc 100%);

/*
========================
        Font size
========================
*/
$font-large: 44px;
$font-xxl: 30px;
$font-xl: 26px;
$font-l: 24px;
$font-xm: 22px;
$font-m: 20px;
$font-s: 18px;
$font-xs: 14px;
$font-xxs: 12px;
$font-size-default: 16px;

$border-radius: 2px;
$border-radius-xl: 8px;
$main-layout-gutter: 10px;
$main-container-padding: 20px;
$svg-path: '/gfx/svg/';
$img-path: '/gfx/images/';
$header-size: 60px;
$footer-size: 55px;
$sidebar-transition: all .4s ease-in-out;
$sidebar-width-small: 70px;
$sidebar-width-large: 220px;
$content-inner-padding: 24px;
