/**
 * Utilities
 *
 * weight: -5
 *
 * Styleguide Base - Utilities

 * Hidden element
 *
 * markup:
 * <p class="u-hidden">…</p>
 *
 * weight: -10
 *
 * Styleguide Base - Utilities - Hidden element
 */

.v--middle {
  vertical-align: middle;
}

.u-hidden {
  display: none;
}

.height-full {
  height: 100%;
}

.width-fill {
  width: 100%;
}

.cursor--pointer {
  cursor: pointer;
}

%clearfix,
.clearfix {
  zoom: 1;

  &:after,
  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.weight--normal {
  font-weight: normal;
}

.weight--light {
  font-weight: normal;
}

.weight--bold {
  font-weight: bold;
}

.weight--black {
  font-weight: 900;
}

.flex-align--center {
  align-items: center;
}

.outline--off {
  &:focus,
  &:active,
  &:active:focus {
    outline: none;
  }
}

.css-overflow-hidden {
  overflow: hidden;
}
