button {
  cursor: pointer;
}

.btn-common {
  @include rem(padding-top, 6px);
  @include rem(padding-bottom, 6px);

  @extend .px-4;
  font-family: $font-family-base;
  text-decoration: none;
  cursor: pointer;
  border-radius: $border-radius;
  box-sizing: border-box;
  font-weight: 400;

  &:focus {
    outline: none;
  }
}

$colors: (main: $brand-secondary, action: $brand-primary, info: $brand-info, success: $brand-success, danger: $brand-dangerous);

@each $key, $color in $colors {
  .btn-#{$key} {
    @extend .btn-common;
    color: white;
    background-color: $color;
    border: 1px solid $color;
    box-shadow: 0 1px 0 0 darken($color, 10%);
    position: relative;
    display: inline-block;

    &.disabled,
    &[disabled] {
      background-color: $color;
      opacity: 0.5;
      pointer-events: none;
      cursor: $cursor-disabled;
    }

    &:hover,
    &:focus:hover {
      background-color: $color;
      box-shadow: 0 0 0 4px rgba($color, .25);
      color: white;
      text-decoration: none;
    }

    &:visited {
      color: white;
    }

    &:active,
    &:focus:active {
      box-shadow: 0 0 0 4px rgba($color, .45);
    }

    &--secondary {
      @extend .bg-white;
      color: $color;

      &:visited {
        color: $color;
      }

      &.disabled,
      &[disabled] {
        @extend .bg-white;
        color: $color;
      }

      &:hover,
      &:focus:hover {
        @extend .bg-white;
        color: $color;
        box-shadow: 0 0 0 4px rgba($color, .25);
        text-decoration: none;
      }

      &:active,
      &:focus:active {
        box-shadow: 0 0 0 4px rgba($color, .45);
        color: $color;
        text-decoration: none;
      }
    }
  }
}

.in-card-btn {
  $padding-btn-x: 10px;
  $padding-btn-y: 5px;
  $icon-margin: 3px;
  $svg-size: 10px;

  @include rem(padding, $padding-btn-y $padding-btn-x);
  display: inline-block;
  border-radius: $border-radius * 2;
  border: none;
  color: $brand-dark;
  font-size: $font-xxs;
  background-color: $brand-grey;

  &:focus,
  &:hover {
    color: $brand-dark;
  }

  &--primary {
    background-color: $brand-primary;
    color: white;

    &:focus,
    &:hover {
      color: white;
    }
  }

  svg {
    margin-right: $icon-margin;
    width: $svg-size;
    height: $svg-size;
  }
}

.btn {
  &--off {
    @extend .outline--off;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
  }

  &--circle {
    @extend .line-height--off;
    @extend .outline--off;

    @include rem(padding, 5px);
    border: none;
    border-radius: 100%;
    display: block;
  }

  &__spinner {
    @extend .mr-2;
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 21px;
    animation: rotation 1s linear infinite;
  }
}

.plus-btn {
  @extend .bg-secondary;
  @extend .btn--circle;
}

.minus-btn {
  @extend .bg-dangerous;
  @extend .btn--circle;
}

.btn-group {
  $aligns: (left, right, center);

  @each $align in $aligns {
    &--#{$align} {
      text-align: $align;
    }
  }

  & > * {
    &:not(:last-child) {
      @extend .mr-3;
    }
  }
}
