// background color

.bg-primary {
  background-color: $brand-primary;
}

.bg-secondary {
  background-color: $brand-secondary;
}

.bg-info {
  background-color: $brand-info;
}

.bg-success {
  background-color: $brand-success;
}

.bg-grey {
  background-color: $brand-grey;
}

.bg-dark {
  background-color: $brand-dark;
}

.bg-darker {
  background-color: $brand-darker;
}

.bg-dangerous {
  background-color: $brand-dangerous;
}

.bg-white {
  background-color: $brand-white;
}

.bg-lightgrey {
  background-color: $brand-lightgrey;
}
// font color
.font-primary {
  color: $brand-primary;
}

.font-secondary {
  color: $brand-secondary;
}

.font-info {
  color: $brand-info;
}

.font-success {
  color: $brand-success;
}

.font-grey {
  color: $brand-grey;
}

.font-dark {
  color: $brand-dark;
}

.font-darker {
  color: $brand-darker;
}

.font-dangerous {
  color: $brand-dangerous;
}

.font-white {
  color: $brand-white;
}

.font-lightgrey {
  color: $brand-lightgrey;
}
