$justify-content: (center: center, between: space-between, around: space-around, start: flex-start, end: flex-end, default: flex-start);

$align-items: (center: center, start: flex-start, end: flex-end, stretch: stretch, baseline: baseline, default: stretch);

@each $alignProp, $alignStyle in $align-items {
  @each $justifyProp, $justifyStyle in $justify-content {
    // extension
    %flex--#{$alignProp}--#{$justifyProp} {
      display: flex;
      align-items: $alignStyle;
      justify-content: $justifyStyle;
    }

    // tachyon
    .flex--#{$alignProp}--#{$justifyProp} {
      display: flex;
      align-items: $alignStyle;
      justify-content: $justifyStyle;
    }
  }
}
