.form {
  @extend .px-2;
  @extend .py-3;
  width: 100%;
  max-width: 526px;
  background-color: $form-bg;
  border-radius: $border-radius-xl;

  & > * {
    &:not(:last-child) {
      @extend .mb-3;
    }
  }

  & .input__label {
    font-size: $font-xs;

    &--checkbox,
    &--radio {
      font-size: $font-size-default;
    }
  }
}

.form__lg {
  max-width: 100%;
}

.form-block {
  @include rem(padding, 20px 10px);
  background-color: $form-bg;
  border-radius: $border-radius-xl;
  width: 100%;

  &--fixed {
    max-width: 480px;
  }

  .input__wrapper:not(:last-child) {
    @include rem(margin-bottom, 16px);
  }

  &__multiply-group {
    @extend .clearfix;

    .input__wrapper {
      float: left;
      width: calc(50% - 15px);

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:last-child {
        margin-left: 15px;
      }

      &:first-child {
        margin-right: 15px;

        &:after {
          content: 'X';
          position: absolute;
          left: calc(100% + 10px);
          bottom: 10px;
        }
      }
    }
  }

  &__checkbox-group {
    display: flex;

    .input__wrapper {
      @include rem(margin-right, 50px);

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}
