.form {
  @extend .px-2;
  @extend .py-3;
  width: 100%;
  max-width: 526px;
  background-color: rgba($brand-grey, .5);
  border-radius: $border-radius-xl;

  & > * {
    &:not(:last-child) {
      @extend .mb-3;
    }
  }

  & .input__label {
    font-size: $font-xs;
  }
}
