.icon {
  width: 100%;
  height: 100%;

  &--baseline {
    position: relative;
    bottom: -.125em;
    display: inline-flex;
    align-self: center;
    width: 1em;
    height: 1em;
    margin-right: 5px;
  }

  &--darker {
    stroke: $brand-darker;
    fill: $brand-darker;

    polygon {
      stroke: $brand-darker;
      fill: $brand-darker;
    }
  }

  &--180 {
    transform: rotate(180deg);
  }
}

.icon-hamburger {
  width: 30px;
  height: 18px;
}

.icon-stock {
  width: 15px;
  height: 15px;
}

.icon-shipping {
  width: 42px;
  height: 33px;
}

.icon-input {
  width: 20px;
  height: 20px;
}

.icon-sort {
  width: 11px;
  height: 14px;
}

.icon-deliver {
  width: 24px;
  height: 23px;
}

.icon-tile {
  width: 34px;
  height: 27px;
}

.icon-dollar {
  width: 18px;
  height: 18px;
}

.icon-zoom {
  width: 35px;
  height: 35px;
}

.icon-download {
  width: 35px;
  height: 24px;
}

.icon-star {
  width: 22px;
  height: 22px;
}

.icon-chevron {
  height: 15px;
  width: 10px;
}

.icon-close-search {
  width: 28px;
  height: 28px;
}

.icon-p {
  width: 43px;
  height: 39px;
}

.icon-sidebar-logo {
  width: 110px;
  height: 32px;
}

.icon-sidebar-logo-small {
  width: 38px;
  height: 32px;
}

.icon-modal {
  height: 15px;
  width: 15px;
}
