/**
 * Image
 *
 * markup:
 * <img src="https://satyr.io/640x5:3" alt="" class="img-responsive">
 *
 * weight: -5
 *
 * Styleguide Base - Image
 */

.inline-bg {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  &--left {
    background-position: 0 50%;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
}
