.input {
  $translate-label-x: 16px;
  $translate-label-y: 30px;
  $color-label-dark: $brand-dark;
  $color-label-light: $brand-darkgrey;
  $input-height: 41px;

  @extend .line-height--one;

  @include rem(padding-top, 11px);
  @include rem(padding-bottom, 11px);
  border: 1px solid $brand-darkgrey;
  border-radius: $border-radius;
  font-weight: 400;
  width: 100%;

  &:focus,
  &:active {
    outline: none;
  }

  &__wrapper {
    position: relative;

    &--disabled {
      opacity: .5;
    }

    &--with-unit {
      input {
        @include rem(padding-right, 30px);
      }
    }

    &--with-icon {
      input {
        @include rem(padding-right, 30px);
      }

      svg {
        top: 0;
        right: 0;
        position: absolute;
        height: 41px;
        width: 41px;
        padding: 10px;
      }
    }

    a {
      @extend .link;
    }
  }

  &__wrapper--label-animation {
    .input__label {
      font-size: $font-xs;
      z-index: 2;
      transition: all 400ms;
      position: relative;
      transform: translate($translate-label-x, $translate-label-y);
      color: $color-label-light;

      &--active {
        transform: none;
        color: $color-label-dark;
      }
    }

    .input__inner {
      z-index: 1;
    }
  }

  &__inner {
    position: relative;
  }

  &:focus {
    border: 1px solid $brand-primary;
    box-shadow: 0 0 8px 0 $brand-primary;
  }

  &[disabled],
  .disabled {
    cursor: $cursor-disabled;
  }

  &__text {
    @extend .input;

    @include rem(padding-left, 16px);
    @include rem(padding-right, 16px);

    &--small {
      @include rem(padding-top, 5px);
      @include rem(padding-bottom, 5px);
      @include rem(padding-left, 10px);
      @include rem(padding-right, 10px);
    }
  }

  &__file {
    @extend .input;
    background: $brand-white;

    @include rem(padding-top, 5px);
    @include rem(padding-bottom, 5px);
    @include rem(padding-left, 10px);
    @include rem(padding-right, 10px);
  }

  &__textarea {
    @extend .input;

    @include rem(padding-left, 16px);
    @include rem(padding-right, 16px);
    width: 100%;
    min-height: 95px;
  }

  &__select-area {
    @extend .input;

    @include rem(padding, 12px 20px 12px 12px);
    max-height: 250px;
    background: $brand-white;
    overflow-y: auto;

    .input__wrapper {
      line-height: 1.5;
    }
  }

  &__unit {
    position: absolute;
    right: 8px;
    bottom: 10px;
  }

  &__password {
    @extend .pl-3;
    @extend .input;
    padding-right: 4.5rem;
  }

  &__toggler {
    @extend .font-secondary;
    cursor: pointer;
    position: absolute;
    right: .75rem;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
  }

  &__label {
    color: $color-label-dark;
    display: block;
    text-transform: uppercase;

    &--radio,
    &--checkbox {
      cursor: pointer;
      margin: 0;
      padding-left: 2.5rem;
      text-transform: none;

      &:before {
        content: "";
        border: 1px solid $brand-darkgrey;
        box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, .2), 0 1px 0 0 $brand-grey;
        display: inline-block;
        height: 25px;
        left: 0;
        margin-right: 10px;
        position: absolute;
        top: 0;
        width: 25px;
      }
    }

    &--checkbox {
      &:before {
        border-radius: $border-radius;
      }
    }

    &--radio {
      &:before {
        border-radius: 100%;
      }
    }

    svg {
      vertical-align: middle;
    }
  }

  &__right-label {
    position: absolute;
    right: 0;
    top: 0;
    font-size: $font-xs;
    font-weight: 400;
    color: $color-label-dark;
  }

  &__label-group {
    @extend %clearfix;
  }

  &__checkbox,
  &__radio {
    display: none;

    &:checked + label:before {
      content: "";
      background-color: $brand-success;
      border: 1px;
      box-shadow: 0 1px 0 0 darken($brand-success, 10%);
    }

    &:checked + label:after {
      @extend .font-white;
      font-size: $font-m;
      font-weight: bold;
      position: absolute;
    }
  }

  &__checkbox {
    &:checked + label:after {
      content: "\2143";
      left: 6px;
      top: -5px;
      transform: rotate(42deg);
    }
  }

  &__radio {
    &:checked + label:before {
      content: "";
      border: 7px solid $brand-success;
      background-color: white;
    }
  }

  &__select {
    @extend .bg-white;
    border: 1px solid $brand-darkgrey;
    border-radius: $border-radius;
    width: 100%;

    select {
      background: transparent;
      border: none;
      height: $input-height;
      font-weight: 400;
      width: 100%;
    }
  }

  &__select,
  &__text {
    height: $input-height;
  }

  &--error {
    border-bottom: 1px solid $brand-dangerous;

    & ~ .input__error {
      display: block;
    }
  }

  &__error {
    @extend .font-dangerous;
    @extend .hidden;
    border-top: 1px solid $brand-dangerous;
    font-size: $font-xxs;
    width: 100%;

    &--noborder {
      border-top: none;
    }

    .input__wrapper--with-icon & {
      position: absolute;
    }
  }
}

select {
  border: 1px solid $brand-darkgrey;
  border-radius: $border-radius;
  font-weight: 400;
  width: 100%;
  height: 41px;
  padding: 0 0 0 11px;
  color: #8c8a8a;
  font-family: Lato, sans-serif;
}

textarea {
  width: 100%;
  resize: none;
  padding: 16px;
  line-height: 14px;
}
