a:hover,
a:focus {
  text-decoration: none;
}

.link {
  @extend .font-secondary;
  text-decoration: none;

  &:hover {
    @extend .font-secondary;
    text-decoration: underline;
  }

  &:focus,
  &:active {
    color: darken($brand-primary, 10%);
    text-decoration: none;
  }

  &--no-decoration {
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  &--attachment {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: 400;

    svg {
      @include rem(margin-right, 7px);
      flex-shrink: 0;
    }
  }

  &--no-blue {
    color: $brand-dark;

    &:hover,
    &:focus,
    &:active {
      color: $brand-dark;
    }
  }
}
