.p-intro {
  font-family: $font-family-primary;
  font-size: $font-s;
  font-style: italic;
}

.p-primary {
  font-family: $font-family-primary;
  font-size: $font-xs;
}

.p-quote {
  font-family: $font-family-primary;
  font-size: $font-m;
  font-style: italic;
  text-align: center;
}

.p-small {
  font-family: $font-family-primary;
  font-size: $font-xxs;
}
