.p-intro {
  font-size: $font-s;
  color: $brand-dark;
  font-weight: 500;
}

.p-primary {
  font-size: initial;
  color: $brand-dark;
  font-weight: 500;
}

.p-quote {
  font-size: $font-l;
  color: $brand-dark;
  font-style: italic;
  text-align: center;
  font-weight: 500;
}

.p-small {
  font-size: $font-xxs;
  color: $brand-dark;
  font-weight: 500;
}

.p-note {
  @extend .p-primary;
  font-size: initial;
  color: $font-grey;
  font-style: italic;
}
