.p-intro {
  font-size: $font-s;
  color: $font-dark-grey;
  font-weight: 100;
}

.p-primary {
  font-size: $font-xs;
  color: $font-grey;
  font-weight: 100;
}

.p-quote {
  font-size: $font-l;
  color: $brand-darker;
  font-style: italic;
  text-align: center;
  font-weight: 100;
}

.p-small {
  font-size: $font-xxs;
  color: $brand-darker;
  font-weight: 100;
}

.p-note {
  @extend .p-primary;
  font-size: initial;
  font-style: italic;
}

.p-info {
  @extend .p-intro;
  font-size: initial;
}
