.password-strength {
  .password-strength-text {
    line-height: 32px;
  }

  .passw-strength-indicator {
    margin-bottom: 4px;
    width: 100%;
    height: 8px;
    background-color: #e5e5e5;

    div {
      height: 100%;
    }

    .passw-indicator-not-acceptable {
      background-color: #b12628;
      width: 0;
    }

    .passw-indicator-weak {
      background-color: #b12628;
      width: 20%;
    }

    .passw-indicator-acceptable {
      background-color: #c98209;
      width: 40%;
    }

    .passw-indicator-average {
      background-color: #1175ae;
      width: 60%;
    }

    .passw-indicator-strong {
      background-color: #95be5f;
      width: 80%;
    }

    .passw-indicator-excellent {
      background-color: #497d04;
      width: 100%;
    }
  }
}
