.password-strength {
  .password-strength-text {
    line-height: 32px;
  }

  .passw-strength-indicator {
    margin-bottom: 4px;
    width: 100%;
    height: 8px;
    background-color: $pwd-indicator;

    div {
      height: 100%;
    }

    .passw-indicator-not-acceptable {
      background-color: $pwd-weak;
      width: 0;
    }

    .passw-indicator-weak {
      background-color: $pwd-weak;
      width: 20%;
    }

    .passw-indicator-acceptable {
      background-color: $pwd-acceptable;
      width: 40%;
    }

    .passw-indicator-average {
      background-color: $pwd-average;
      width: 60%;
    }

    .passw-indicator-strong {
      background-color: $pwd-strong;
      width: 80%;
    }

    .passw-indicator-excellent {
      background-color: $pwd-excellent;
      width: 100%;
    }
  }
}
