.table {
  width: 100%;

  tr:nth-child(2n +1) {
    background-color: $brand-lightgrey;
  }

  tr {
    th {
      @extend .font-dark;
      font-size: $font-xs;
      text-transform: uppercase;
    }

    td,
    th {
      @extend .py-2;
      @extend .px-2;
      border: 1px solid $brand-grey;
      font-weight: 400;
    }
  }

  &--inside-border {
    tr {
      border: 1px solid $brand-grey;

      th,
      td {
        border: none;
      }
    }
  }

  &--opposite {
    tbody {
      tr:nth-child(n) {
        background-color: rgba(white, .5);
      }
    }

    tbody tr:nth-child(2n - 1) {
      background-color: rgba($brand-lightgrey, .5);
    }
  }

  &--hover {
    tbody tr {
      &:hover:not(:first-child) {
        @extend .cursor--pointer;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.tbody-counter {
  counter-reset: table-row;

  & > tr > td:first-child:before {
    counter-increment: table-row;
    content: counter(table-row);
  }
}
