.u-hidden {
  display: none;
}

.height-full {
  height: 100%;
}

.width-fill {
  width: 100%;
}

.cursor--pointer {
  cursor: pointer;
}

%clearfix {
  zoom: 1;

  &:after,
  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}
