<?xml version="1.0" encoding="utf-8"?>
<RepositoryConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <IncludedObjectTypes>
  </IncludedObjectTypes>

  <ExcludedObjectTypes>
    <ObjectType>cms.avatar</ObjectType>
    <ObjectType>cms.user</ObjectType>
    <ObjectType>cms.role</ObjectType>
    <ObjectType>cms.rolepermission</ObjectType>	
    <ObjectType>cms.usersettings</ObjectType>
    <ObjectType>cms.usersite</ObjectType>
    <ObjectType>cms.userrole</ObjectType>
    <ObjectType>cms.usercategory</ObjectType>
    <ObjectType>cms.dashboard</ObjectType>
    <ObjectType>badwords.word</ObjectType>
    <ObjectType>cms.bannedip</ObjectType>   
    <ObjectType>chat.supportcannedresponse</ObjectType>    
    <ObjectType>cms.country</ObjectType>   
    <ObjectType>cms.deviceprofile</ObjectType>   
    <ObjectType>cms.emailtemplate</ObjectType>    
    <ObjectType>sm.facebookapplication</ObjectType>    
    <ObjectType>sm.facebookaccount</ObjectType>    
    <ObjectType>cms.form</ObjectType>    
    <ObjectType>cms.formclass</ObjectType>     
    <ObjectType>forums.forumgroup</ObjectType>    
    <ObjectType>forums.forumattachment</ObjectType>   
    <ObjectType>forums.forumpost</ObjectType>    
    <ObjectType>forums.forum</ObjectType>    
    <ObjectType>sm.linkedinapplication</ObjectType>    
    <ObjectType>cms.badge</ObjectType>    
    <ObjectType>sm.linkedinaccount</ObjectType>    
    <ObjectType>media.library</ObjectType>    
    <ObjectType>media.file</ObjectType>    
    <ObjectType>cms.membership</ObjectType>    
    <ObjectType>cms.metafile</ObjectType>    
    <ObjectType>notification.gateway</ObjectType>    
    <ObjectType>notification.subscription</ObjectType>    
    <ObjectType>notification.template</ObjectType>    
    <ObjectType>notification.templatetext</ObjectType> 
    <ObjectType>polls.pollanswer</ObjectType> 
    <ObjectType>polls.poll</ObjectType>    
    <ObjectType>reporting.reportcategory</ObjectType>    
    <ObjectType>reporting.report</ObjectType>    
    <ObjectType>cms.settingscategory</ObjectType>    
    <ObjectType>cms.settingskey</ObjectType>    
    <ObjectType>sharepoint.sharepointconnection</ObjectType>    
    <ObjectType>sharepoint.sharepointlibrary</ObjectType> 
    <ObjectType>cms.site</ObjectType>    
    <ObjectType>cms.sitedomainalias</ObjectType>    
    <ObjectType>cms.smtpserver</ObjectType>    
    <ObjectType>cms.state</ObjectType>    
    <ObjectType>cms.timezone</ObjectType> 
    <ObjectType>cms.translationservice</ObjectType>    
    <ObjectType>sm.twitterapplication</ObjectType>
    <ObjectType>sm.twitteraccount</ObjectType> 
    <ObjectType>cms.personalization</ObjectType> 
    <ObjectType>cms.webtemplate</ObjectType>    
    <ObjectType>cms.workflow</ObjectType> 
    <ObjectType>cms.workflowaction</ObjectType>    
    <ObjectType>cms.workflowscope</ObjectType>    
    <ObjectType>cms.workflowstep</ObjectType>    
    <ObjectType>cms.aclitem</ObjectType>    
    <ObjectType>cms.attachmentvariant</ObjectType>    
    <ObjectType>cms.attachment</ObjectType>    
    <ObjectType>blog.comment</ObjectType> 
    <ObjectType>cms.category</ObjectType>    
    <ObjectType>board.board</ObjectType>    
    <ObjectType>board.message</ObjectType> 
    <ObjectType>cms.documentalias</ObjectType>    
    <ObjectType>cms.acl</ObjectType>    
    <ObjectType>cms.document</ObjectType>    
    <ObjectType>ms.relationshipname</ObjectType>
    <ObjectType>cms.taggroup</ObjectType>    
    <ObjectType>cms.usercategory</ObjectType>    
    <ObjectType>om.abtest</ObjectType>    
    <ObjectType>om.abvariant</ObjectType>    
    <ObjectType>om.accountstatus</ObjectType>    
    <ObjectType>om.activitytype</ObjectType>    
    <ObjectType>ma.automationaction</ObjectType>    
    <ObjectType>ma.automationprocess</ObjectType> 
    <ObjectType>ma.automationstep</ObjectType>       
    <ObjectType>cms.objectworkflowtrigger</ObjectType>    
    <ObjectType>cms.bannercategory</ObjectType>    
    <ObjectType>cms.banner</ObjectType>    
    <ObjectType>analytics.campaign</ObjectType>    
    <ObjectType>analytics.campaignasset</ObjectType>    
    <ObjectType>analytics.campaignasseturl</ObjectType>    
    <ObjectType>analytics.campaignconversion</ObjectType>    
    <ObjectType>om.contactgroup</ObjectType>    
    <ObjectType>om.contactrole</ObjectType>    
    <ObjectType>om.contactstatus</ObjectType> 
    <ObjectType>analytics.conversion</ObjectType>    
    <ObjectType>newsletter.newsletter</ObjectType>    
    <ObjectType>newsletter.emailtemplate</ObjectType>    
    <ObjectType>newsletter.issue</ObjectType>    
    <ObjectType>newsletter.abtest</ObjectType>    
    <ObjectType>newsletter.issuevariant</ObjectType>    
    <ObjectType>om.mvtest</ObjectType>    
    <ObjectType>om.mvtcombination</ObjectType>    
    <ObjectType>om.mvtvariant</ObjectType>    
    <ObjectType>om.personalizationvariant</ObjectType>    
    <ObjectType>ecommerce.multibuydiscount</ObjectType>    
    <ObjectType>ecommerce.multibuycouponcode</ObjectType>    
    <ObjectType>ecommerce.department</ObjectType> 
    <ObjectType>ecommerce.discount</ObjectType>    
    <ObjectType>ecommerce.couponcode</ObjectType>    
    <ObjectType>ecommerce.exchangetable</ObjectType>    
    <ObjectType>ecommerce.manufacturer</ObjectType>    
    <ObjectType>ecommerce.orderstatus</ObjectType>    
    <ObjectType>ecommerce.discountcoupon</ObjectType>    
    <ObjectType>ecommerce.internalstatus</ObjectType>    
    <ObjectType>ecommerce.optioncategory</ObjectType>    
    <ObjectType>ecommerce.skuoption</ObjectType>    
    <ObjectType>ecommerce.publicstatus</ObjectType>    
    <ObjectType>ecommerce.skufile</ObjectType> 
    <ObjectType>ecommerce.skuvariant</ObjectType>
    <ObjectType>ecommerce.sku</ObjectType> 
    <ObjectType>ecommerce.shippingcost</ObjectType>        
    <ObjectType>ecommerce.supplier</ObjectType>    
    <ObjectType>ecommerce.taxclass</ObjectType>    
    <ObjectType>ecommerce.volumediscount</ObjectType>    
    <ObjectType>community.group</ObjectType>    
    <ObjectType>forums.groupforumgroup</ObjectType>    
    <ObjectType>forums.groupforum</ObjectType>    
    <ObjectType>media.grouplibrary</ObjectType>    
    <ObjectType>community.groupmember</ObjectType>    
    <ObjectType>board.board</ObjectType>    
    <ObjectType>polls.grouppoll</ObjectType>    
    <ObjectType>cms.grouprole</ObjectType>    
    <ObjectType>cms.roleapplication</ObjectType>    
    <ObjectType>cms.documentcategory</ObjectType>       
    <ObjectType>cms.workflowtransition</ObjectType>    
    <ObjectType>ecommerce.taxclasscountry</ObjectType>    
    <ObjectType>cms.userculture</ObjectType>    
    <ObjectType>badwords.wordculture</ObjectType>    
    <ObjectType>cms.searchindexculture</ObjectType>   
    <ObjectType>ecommerce.multibuydiscountdepartment</ObjectType>   
    <ObjectType>cms.templatedevicelayout</ObjectType>    
    <ObjectType>ecommerce.exchangerate</ObjectType>    
    <ObjectType>community.grouprolepermission</ObjectType>    
    <ObjectType>cms.deviceprofilelayout</ObjectType>    
    <ObjectType>forums.forummoderator</ObjectType>    
    <ObjectType>board.moderator</ObjectType>    
    <ObjectType>om.mvtcombinationvariation</ObjectType>    
    <ObjectType>cms.relationship</ObjectType>    
    <ObjectType>cms.adhocrelationship</ObjectType>    
    <ObjectType>ecommerce.bundle</ObjectType>    
    <ObjectType>ecommerce.skuallowedoption</ObjectType>    
    <ObjectType>ecommerce.variantoption</ObjectType>    
    <ObjectType>ecommerce.skuoptioncategory</ObjectType>    
    <ObjectType>ecommerce.skudiscountcoupon</ObjectType>    
    <ObjectType>ecommerce.multibuydiscountsku</ObjectType>    
    <ObjectType>media.libraryrolepermission</ObjectType>    
    <ObjectType>forums.forumrole</ObjectType>    
    <ObjectType>cms.formrole</ObjectType>    
    <ObjectType>board.boardrole</ObjectType>    
    <ObjectType>polls.pollrole</ObjectType>    
    <ObjectType>cms.widgetrole</ObjectType>    
    <ObjectType>cms.workflowsteprole</ObjectType>    
    <ObjectType>cms.membershiprole</ObjectType>        
    <ObjectType>polls.pollsite</ObjectType>    
    <ObjectType>cms.searchindexsite</ObjectType>    
    <ObjectType>cms.searchindex</ObjectType>
    <ObjectType>cms.smtpserversite</ObjectType>    
    <ObjectType>cms.usersite</ObjectType>    
    <ObjectType>ecommerce.taxclassstate</ObjectType>    
    <ObjectType>ecommerce.departmenttaxclass</ObjectType>
    <ObjectType>ecommerce.skutaxclass</ObjectType>    
    <ObjectType>newsletter.emailtemplatenewsletter</ObjectType>    
    <ObjectType>cms.roleuielement</ObjectType>    
    <ObjectType>cms.workflowstepuser</ObjectType>    
    <ObjectType>cms.userrole</ObjectType>    
    <ObjectType>cms.membershipuser</ObjectType>    
    <ObjectType>cms.workflowuser</ObjectType>
    <ObjectType>cms.resourcestring</ObjectType>
    <ObjectType>cms.resourcetranslation</ObjectType>
    <ObjectType>cms.resourcesite</ObjectType>
    <ObjectType>cms.roleapplication</ObjectType>
    <ObjectType>cms.classsite</ObjectType>
    <ObjectType>cms.scheduledtask</ObjectType>
    <ObjectType>cms.culture</ObjectType>
    <ObjectType>cms.culturesite</ObjectType>
    <ObjectType>cms.helptopic</ObjectType>
    <ObjectType>cms.pagetemplatesite</ObjectType>
    <ObjectType>cms.permission</ObjectType>
    <ObjectType>cms.relationshipname</ObjectType>
    <ObjectType>cms.relationshipnamesite</ObjectType>
    <ObjectType>cms.searchengine</ObjectType>
    <ObjectType>cms.uielement</ObjectType>
    <ObjectType>cms.webpartcontainersite</ObjectType>
    <ObjectType>ecommerce.currency</ObjectType>
    <ObjectType>customtableitem.KDA.MailingProductType</ObjectType>
    <ObjectType>customtableitem.KDA.MailingType</ObjectType>
    <ObjectType>customtableitem.KDA.MailingValidity</ObjectType>
    <ObjectType>customtableitem.KDA.OrderStatusMapping</ObjectType>
    <ObjectType>customtableitem.KDA.AddressErrors</ObjectType>
    <ObjectType>customtableitem.KDA.FavoriteProducts</ObjectType>
    <ObjectType>customtableitem.KDA.Submissions</ObjectType>
	  <ObjectType>customtableitem.KDA.Brand</ObjectType>
	  <ObjectType>customtableitem.KDA.BusinessUnit</ObjectType>
	  <ObjectType>customtableitem.KDA.Division</ObjectType>
	  <ObjectType>customtableitem.KDA.POSCategory</ObjectType>
	  <ObjectType>customtableitem.KDA.POSNumber</ObjectType>
	  <ObjectType>customtableitem.KDA.ShippingAddress</ObjectType>
	  <ObjectType>customtableitem.KDA.UserBusinessUnits</ObjectType>
	  <ObjectType>customtableitem.KDA.UserFYBudgetAllocation</ObjectType>
	  <ObjectType>customtableitem.KDA.UserAllocatedProducts</ObjectType>
	  <ObjectType>customtableitem.KDA.InboundTracking</ObjectType>
	  <ObjectType>customtableitem.KDA.AddressBrands</ObjectType>
	  <ObjectType>customtableitem.KDA.StatesGroup</ObjectType>
    <ObjectType>customtableitem.KDA.ProductItemSpecs</ObjectType>
    <ObjectType>customtableitem.KDA.FiscalYearManagement</ObjectType>
    <ObjectType>integration.connector</ObjectType>
    <ObjectType>om.documentmvtcombination</ObjectType>
    <ObjectType>om.documentmvtvariant</ObjectType>
    <ObjectType>om.documentpersonalizationvariant</ObjectType>
    <ObjectType>cms.cssstylesheetsite</ObjectType>
    <ObjectType>ecommerce.shippingoption</ObjectType>
    <ObjectType>ecommerce.shippingoptiontaxclass</ObjectType>
    <ObjectType>ecommerce.paymentoption</ObjectType>
    <ObjectType>ecommerce.carrier</ObjectType>
  </ExcludedObjectTypes>

  <ObjectFilters>

  </ObjectFilters>

</RepositoryConfiguration>