$circle-btn-size: 25px;

.mailing-lists {
  & > *:not(:last-child) {
    @extend .mb-4;
  }

  &__btn {
    &:nth-child(2) {
      @include rem(margin-left, 10px);
    }
  }

  &__add-row-icon {
    @extend .bg-info;
    @extend .btn--circle;
    float: left;

    @include rem(margin-right, 7px);

    & + span {
      font-weight: 100;
      color: $brand-dark;
    }
  }

  &__add-link {
    @extend .btn--off;
    @extend .outline--off;
  }

  .additional-row {
    padding: 5px 0;

    > td {
      height: 59px;
    }
  }
}
