<?xml version="1.0" encoding="utf-8"?>
<cms.pagetemplate>
  <PageTemplateAllowInheritHeader>False</PageTemplateAllowInheritHeader>
  <PageTemplateCategoryID>
    <CodeName>Kadena_Content</CodeName>
    <GUID>bc866ad9-edd3-4fef-8661-dc36de54fc3d</GUID>
    <ObjectType>cms.pagetemplatecategory</ObjectType>
  </PageTemplateCategoryID>
  <PageTemplateCloneAsAdHoc>False</PageTemplateCloneAsAdHoc>
  <PageTemplateCodeName>Module</PageTemplateCodeName>
  <PageTemplateDisplayName>_Module</PageTemplateDisplayName>
  <PageTemplateFile />
  <PageTemplateForAllPages>True</PageTemplateForAllPages>
  <PageTemplateGUID>13ac95f1-e942-4a86-b76f-47bd48c07ba8</PageTemplateGUID>
  <PageTemplateInheritParentHeader>True</PageTemplateInheritParentHeader>
  <PageTemplateIsAllowedForProductSection>False</PageTemplateIsAllowedForProductSection>
  <PageTemplateIsLayout>False</PageTemplateIsLayout>
  <PageTemplateIsReusable>True</PageTemplateIsReusable>
  <PageTemplateLayout>
<![CDATA[
<div class="content-header">
  {^WebPartZone|(id)zoneHeader^}
</div>
<div class="content-block">
  <div class="product-editor__bar">     
    <div>
    </div>
    <div>
      {^WebPartZone|(id)zoneActionButtons^}        
    </div>
  </div>  
  <div class="product-view">
    {^WebPartZone|(id)zoneMarketingMessage^}
    {^WebPartZone|(id)zoneContent^}
  </div> 
</div> 
]]>
  </PageTemplateLayout>
  <PageTemplateLayoutType>html</PageTemplateLayoutType>
  <PageTemplateShowAsMasterTemplate>False</PageTemplateShowAsMasterTemplate>
  <PageTemplateType>portal</PageTemplateType>
  <PageTemplateWebParts>
    <page>
      <webpartzone id="zoneHeader" v="1">
        <webpart controlid="Header" guid="f8be3de0-6e82-4373-a0f5-872d15978640" type="statictext" v="1">
          <property name="cat_open_ajax"></property>
          <property name="cat_open_output_filter"></property>
          <property name="cat_open_performance"></property>
          <property name="cat_open_time zones"></property>
          <property name="cat_open_visibility"></property>
          <property name="container"></property>
          <property name="containercssclass"></property>
          <property name="containercustomcontent"></property>
          <property name="containerhideonsubpages">False</property>
          <property name="containertitle"></property>
          <property name="contentafter">
<![CDATA[
</h1>
</div>
]]>
          </property>
          <property name="contentbefore">
<![CDATA[
<div class="content-header__inner">
<h1 class="content-header__page-name">
]]>
          </property>
          <property name="controlid">Header</property>
          <property name="customtimezone"></property>
          <property name="disablemacros">False</property>
          <property name="disableviewstate">False</property>
          <property name="displaytoroles"></property>
          <property name="enableoutputfilter">False</property>
          <property name="encodetext">False</property>
          <property name="hideonsubpages">False</property>
          <property name="instanceguid">f8be3de0-6e82-4373-a0f5-872d15978640</property>
          <property name="outputconverttablestodivs">none</property>
          <property name="outputfixattributes">True</property>
          <property name="outputfixhtml5">True</property>
          <property name="outputfixjavascript">True</property>
          <property name="outputfixlowercase">True</property>
          <property name="outputfixselfclose">True</property>
          <property name="outputresolveurls">True</property>
          <property name="partialcachedependencies">
<![CDATA[
##DEFAULT##

]]>
          </property>
          <property name="partialcacheminutes"></property>
          <property name="preservepartialcacheonpostback">False</property>
          <property name="resolvedynamiccontrols">True</property>
          <property name="showfordocumenttypes"></property>
          <property name="tag"></property>
          <property name="text">{%DocumentName%}</property>
          <property name="timezonetype">inherit</property>
          <property name="useupdatepanel">False</property>
          <property name="visible">True</property>
          <property name="webparttitle"></property>
          <property name="webparttype">statictext</property>
        </webpart>
        <webpart controlid="Kadena_Breadcrumbs" guid="7e651e52-d688-4484-b672-acb3e485b9e3" type="Kadena_Breadcrumbs" v="1">
          <property name="cat_open_ajax"></property>
          <property name="cat_open_output_filter"></property>
          <property name="cat_open_performance"></property>
          <property name="cat_open_time zones"></property>
          <property name="cat_open_visibility"></property>
          <property name="container">KadenaBreadcrumbs</property>
          <property name="containercssclass"></property>
          <property name="containercustomcontent"></property>
          <property name="containerhideonsubpages">False</property>
          <property name="containertitle"></property>
          <property name="contentafter"></property>
          <property name="contentbefore"></property>
          <property name="controlid">Kadena_Breadcrumbs</property>
          <property name="customtimezone"></property>
          <property name="disablemacros">False</property>
          <property name="disableviewstate">False</property>
          <property name="displaytoroles"></property>
          <property name="documentid" ismacro="true">
            <![CDATA[{% CurrentDocument.ID |(user)administrator|(hash)a9a82af2e9ed17f3117d017f3e85aad6847125d531dcca4bea6fbc38b843c389%}]]>
          </property>
          <property name="enableoutputfilter">False</property>
          <property name="hideonsubpages">False</property>
          <property name="instanceguid">7e651e52-d688-4484-b672-acb3e485b9e3</property>
          <property name="outputconverttablestodivs">none</property>
          <property name="outputfixattributes">True</property>
          <property name="outputfixhtml5">True</property>
          <property name="outputfixjavascript">True</property>
          <property name="outputfixlowercase">True</property>
          <property name="outputfixselfclose">True</property>
          <property name="outputresolveurls">True</property>
          <property name="partialcachedependencies">
<![CDATA[
##DEFAULT##

]]>
          </property>
          <property name="partialcacheminutes"></property>
          <property name="positionleft"></property>
          <property name="positiontop"></property>
          <property name="preservepartialcacheonpostback">False</property>
          <property name="showfordocumenttypes"></property>
          <property name="timezonetype">inherit</property>
          <property name="useupdatepanel">False</property>
          <property name="visible">True</property>
          <property name="webparttitle"></property>
          <property name="webparttype">Kadena_Breadcrumbs</property>
        </webpart>
      </webpartzone>
      <webpartzone id="zoneActionButtons" v="1" widgetzonetype="editor">
        <properties>
          <property name="containerhideonsubpages">False</property>
          <property name="disableviewstate">False</property>
          <property name="hideonsubpages">False</property>
          <property name="timezonetype">inherit</property>
          <property name="useupdatepanel">False</property>
          <property name="visible" ismacro="true">
<![CDATA[
{%
(CurrentDocument.ClassName == "KDA.ProofingModule" && CurrentUser.IsAuthorizedPerResource("Kadena_K-Proof", "KDA_ContentEnabled"))
|| (CurrentDocument.ClassName == "KDA.DAMModule" && CurrentUser.IsAuthorizedPerResource("Kadena_K-DAM", "KDA_ContentEnabled"))
|| (CurrentDocument.ClassName == "KDA.SourcingModule" && CurrentUser.IsAuthorizedPerResource("Kadena_K-Source", "KDA_ContentEnabled"))
|| CurrentUser.CheckPrivilegeLevel(UserPrivilegeLevelEnum.Editor) 
|(user)administrator|(hash)5ec2c71d7b5c4e4b524c41e484c5df85ad3ff97a8e3bcd8fea68eb1d9358bdf9%}
]]>
          </property>
        </properties>
      </webpartzone>
      <webpartzone id="zoneOrder" v="1">
        <properties>
          <property name="containerhideonsubpages">False</property>
          <property name="disableviewstate">False</property>
          <property name="hideonsubpages">False</property>
          <property name="timezonetype">inherit</property>
          <property name="useupdatepanel">False</property>
          <property name="visible">True</property>
        </properties>
      </webpartzone>
      <webpartzone id="zoneContent" v="1">
        <properties>
          <property name="containerhideonsubpages">False</property>
          <property name="disableviewstate">False</property>
          <property name="hideonsubpages">False</property>
          <property name="timezonetype">inherit</property>
          <property name="useupdatepanel">False</property>
          <property name="visible" ismacro="true">
<![CDATA[
{%
(CurrentDocument.ClassName == "KDA.ProofingModule" && CurrentUser.IsAuthorizedPerResource("Kadena_K-Proof", "KDA_ContentEnabled"))
|| (CurrentDocument.ClassName == "KDA.DAMModule" && CurrentUser.IsAuthorizedPerResource("Kadena_K-DAM", "KDA_ContentEnabled"))
|| (CurrentDocument.ClassName == "KDA.SourcingModule" && CurrentUser.IsAuthorizedPerResource("Kadena_K-Source", "KDA_ContentEnabled"))
|| CurrentUser.CheckPrivilegeLevel(UserPrivilegeLevelEnum.Editor) 
|(user)administrator|(hash)5ec2c71d7b5c4e4b524c41e484c5df85ad3ff97a8e3bcd8fea68eb1d9358bdf9%}
]]>
          </property>
        </properties>
        <webpart controlid="editabletext" guid="67d30a8b-0361-4695-b5e8-a91797965ca2" type="editabletext" v="1">
          <property name="cat_open_ajax"></property>
          <property name="cat_open_output_filter"></property>
          <property name="cat_open_performance"></property>
          <property name="cat_open_time zones"></property>
          <property name="cat_open_visibility"></property>
          <property name="checkpermissions">False</property>
          <property name="container"></property>
          <property name="containercssclass"></property>
          <property name="containercustomcontent"></property>
          <property name="containerhideonsubpages">False</property>
          <property name="containertitle"></property>
          <property name="contentafter"></property>
          <property name="contentbefore"></property>
          <property name="controlid">editabletext</property>
          <property name="customtimezone"></property>
          <property name="defaulttext"></property>
          <property name="dialogheight"></property>
          <property name="dialogwidth"></property>
          <property name="disablemacros">False</property>
          <property name="disableviewstate">False</property>
          <property name="displaytoroles"></property>
          <property name="enableoutputfilter">False</property>
          <property name="encodetext">False</property>
          <property name="hideonsubpages">False</property>
          <property name="htmlareatoolbar"></property>
          <property name="htmlareatoolbarlocation">In</property>
          <property name="imageautoresize">
<![CDATA[
<AutoResize>
  <autoresize>noresize</autoresize>
  <autoresize_width />
  <autoresize_height />
  <autoresize_maxsidesize />
</AutoResize>
]]>
          </property>
          <property name="instanceguid">67d30a8b-0361-4695-b5e8-a91797965ca2</property>
          <property name="maxlength"></property>
          <property name="minlength"></property>
          <property name="outputconverttablestodivs">none</property>
          <property name="outputfixattributes">True</property>
          <property name="outputfixhtml5">True</property>
          <property name="outputfixjavascript">True</property>
          <property name="outputfixlowercase">True</property>
          <property name="outputfixselfclose">True</property>
          <property name="outputresolveurls">True</property>
          <property name="partialcachedependencies">
<![CDATA[
##DEFAULT##

]]>
          </property>
          <property name="partialcacheminutes"></property>
          <property name="preservepartialcacheonpostback">False</property>
          <property name="regiontitle">Editable text</property>
          <property name="regiontype">HtmlEditor</property>
          <property name="resolvedynamiccontrols">True</property>
          <property name="selectonlypublished">False</property>
          <property name="showfordocumenttypes"></property>
          <property name="timezonetype">inherit</property>
          <property name="useparentcontent">False</property>
          <property name="useupdatepanel">False</property>
          <property name="visible">True</property>
          <property name="webparttitle"></property>
          <property name="webparttype">editabletext</property>
          <property name="wordwrap">True</property>
        </webpart>
        <webpart controlid="EditableImage" guid="dbd5cadb-af98-4199-b9b5-f5a055321377" type="EditableImage" v="1">
          <property name="alternatetext"></property>
          <property name="cat_open_ajax"></property>
          <property name="cat_open_output_filter"></property>
          <property name="cat_open_performance"></property>
          <property name="cat_open_time zones"></property>
          <property name="cat_open_visibility"></property>
          <property name="checkpermissions">False</property>
          <property name="container"></property>
          <property name="containercssclass"></property>
          <property name="containercustomcontent"></property>
          <property name="containerhideonsubpages">False</property>
          <property name="containertitle"></property>
          <property name="contentafter"></property>
          <property name="contentbefore"></property>
          <property name="controlid">EditableImage</property>
          <property name="customtimezone"></property>
          <property name="defaultimage"></property>
          <property name="disablemacros">False</property>
          <property name="disableviewstate">False</property>
          <property name="displayselectortextbox">False</property>
          <property name="displaytoroles"></property>
          <property name="enableoutputfilter">False</property>
          <property name="hideonsubpages">False</property>
          <property name="imageautoresize">
<![CDATA[
<AutoResize>
  <autoresize>noresize</autoresize>
  <autoresize_width />
  <autoresize_height />
  <autoresize_maxsidesize />
</AutoResize>
]]>
          </property>
          <property name="imagecssclass">img-responsive</property>
          <property name="imageheight"></property>
          <property name="imagestyle"></property>
          <property name="imagetitle"></property>
          <property name="imagewidth"></property>
          <property name="instanceguid">dbd5cadb-af98-4199-b9b5-f5a055321377</property>
          <property name="outputconverttablestodivs">none</property>
          <property name="outputfixattributes">True</property>
          <property name="outputfixhtml5">True</property>
          <property name="outputfixjavascript">True</property>
          <property name="outputfixlowercase">True</property>
          <property name="outputfixselfclose">True</property>
          <property name="outputresolveurls">True</property>
          <property name="partialcachedependencies">
<![CDATA[
##DEFAULT##

]]>
          </property>
          <property name="partialcacheminutes"></property>
          <property name="preservepartialcacheonpostback">False</property>
          <property name="selectonlypublished">False</property>
          <property name="showfordocumenttypes"></property>
          <property name="timezonetype">inherit</property>
          <property name="useparentcontent">False</property>
          <property name="useupdatepanel">False</property>
          <property name="visible">True</property>
          <property name="webparttitle"></property>
          <property name="webparttype">EditableImage</property>
        </webpart>
      </webpartzone>
      <webpartzone id="zoneMarketingMessage" v="1" widgetzonetype="editor">
        <properties>
          <property name="containerhideonsubpages">False</property>
          <property name="disableviewstate">False</property>
          <property name="hideonsubpages">False</property>
          <property name="timezonetype">inherit</property>
          <property name="useupdatepanel">False</property>
          <property name="visible" ismacro="true">
<![CDATA[
{% 
(CurrentDocument.ClassName == "KDA.ProofingModule" && !CurrentUser.IsAuthorizedPerResource("Kadena_K-Proof", "KDA_ContentEnabled"))
|| (CurrentDocument.ClassName == "KDA.DAMModule" && !CurrentUser.IsAuthorizedPerResource("Kadena_K-DAM", "KDA_ContentEnabled"))
|| (CurrentDocument.ClassName == "KDA.SourcingModule" && !CurrentUser.IsAuthorizedPerResource("Kadena_K-Source", "KDA_ContentEnabled"))
|| CurrentUser.CheckPrivilegeLevel(UserPrivilegeLevelEnum.Editor) 
|(user)administrator|(hash)00f37aedd1b34e4b59b0788a8fa772991ffd89845efd3b49985b306ee2ec28cb%}
]]>
          </property>
        </properties>
      </webpartzone>
    </page>
  </PageTemplateWebParts>
</cms.pagetemplate>