<?xml version="1.0" encoding="utf-8"?>
<cms.pagetemplate>
  <PageTemplateAllowInheritHeader>False</PageTemplateAllowInheritHeader>
  <PageTemplateCategoryID>
    <CodeName>Kadena_System</CodeName>
    <GUID>f8f77f9f-4939-415a-a248-b2551d11f8cb</GUID>
    <ObjectType>cms.pagetemplatecategory</ObjectType>
  </PageTemplateCategoryID>
  <PageTemplateCloneAsAdHoc>False</PageTemplateCloneAsAdHoc>
  <PageTemplateCodeName>Settings</PageTemplateCodeName>
  <PageTemplateDescription />
  <PageTemplateDisplayName>_Settings</PageTemplateDisplayName>
  <PageTemplateFile />
  <PageTemplateForAllPages>True</PageTemplateForAllPages>
  <PageTemplateGUID>6c789875-32bc-4c42-a996-ca925feffa5d</PageTemplateGUID>
  <PageTemplateInheritParentHeader>True</PageTemplateInheritParentHeader>
  <PageTemplateIsAllowedForProductSection>False</PageTemplateIsAllowedForProductSection>
  <PageTemplateIsLayout>False</PageTemplateIsLayout>
  <PageTemplateIsReusable>True</PageTemplateIsReusable>
  <PageTemplateLayout>
<![CDATA[
<div class="content-header">
  {^WebPartZone|(id)zoneHeader^}
</div>
<div class="content-block">
  <div class="settings">
    <div class="css-tabs__container js-tabs" data-tab=".js-tab-settings" data-tab-active="active" data-tab-active-default=".js-tab-settings-my-account">
      <ul class="css-tabs__list">
        <li class="css-tabs__tab js-tab-settings" data-id="t1" data-tab-content=".js-tab-settings-my-account">{$Kadena.Settings.MyAccount$}</li>
        <li class="css-tabs__tab js-tab-settings" data-id="t2" data-tab-content=".js-tab-settings-password">{$Kadena.Settings.Password$}</li>
        <li class="css-tabs__tab js-tab-settings" data-id="t3" data-tab-content=".js-tab-settings-email-notification" style="display: none;">{$Kadena.Settings.EmailNotification$}</li>
        <li class="css-tabs__tab js-tab-settings" data-id="t4" data-tab-content=".js-tab-settings-addresses" {% ECommerceContext.CurrentCustomer == null ? "style='display:none;'" : "" |(user)administrator|(hash)1de4948e8b1cec9b6a385379b5ea1b2a6c5c971f8d0e1381ae900294c694a62c%}>{$Kadena.Settings.Addresses$}</li>
      </ul>
      <div>
        <div class="css-tabs__content js-tab-settings-my-account">
          <div class="settings__block">
            {^WebPartZone|(id)zoneMyAccount^}
          </div>
        </div>
        <div class="css-tabs__content js-tab-settings-password">
          <div class="settings__block">
            {^WebPartZone|(id)zonePassword^}
          </div>
        </div>
        <div class="css-tabs__content js-tab-settings-email-notification">
          <div class="settings__block">
            {^WebPartZone|(id)zoneEmailNotification^}
          </div>
        </div>
        <div class="css-tabs__content js-tab-settings-addresses">
          {^WebPartZone|(id)zoneAddresses^}
        </div>        
      </div>            
    </div> 
  </div>   
</div>
]]>
  </PageTemplateLayout>
  <PageTemplateLayoutType>html</PageTemplateLayoutType>
  <PageTemplateShowAsMasterTemplate>False</PageTemplateShowAsMasterTemplate>
  <PageTemplateType>portal</PageTemplateType>
  <PageTemplateWebParts>
    <page>
      <webpartzone id="zoneHeader" v="1">
        <webpart controlid="Header" guid="8cd7aff8-d6bf-42e8-8369-1f23da589fab" type="statictext" v="1">
          <property name="cat_open_ajax"></property>
          <property name="cat_open_output_filter">False</property>
          <property name="cat_open_performance">False</property>
          <property name="cat_open_time zones"></property>
          <property name="cat_open_visibility"></property>
          <property name="container">KadenaHeaderPageName</property>
          <property name="containercssclass"></property>
          <property name="containercustomcontent"></property>
          <property name="containerhideonsubpages">False</property>
          <property name="containertitle"></property>
          <property name="contentafter"></property>
          <property name="contentbefore"></property>
          <property name="controlid">Header</property>
          <property name="customtimezone"></property>
          <property name="disablemacros">False</property>
          <property name="disableviewstate">True</property>
          <property name="displaytoroles"></property>
          <property name="enableoutputfilter">False</property>
          <property name="encodetext">False</property>
          <property name="hideonsubpages">False</property>
          <property name="instanceguid">8cd7aff8-d6bf-42e8-8369-1f23da589fab</property>
          <property name="outputconverttablestodivs">none</property>
          <property name="outputfixattributes">False</property>
          <property name="outputfixhtml5">False</property>
          <property name="outputfixjavascript">False</property>
          <property name="outputfixlowercase">False</property>
          <property name="outputfixselfclose">False</property>
          <property name="outputresolveurls">False</property>
          <property name="partialcachedependencies">
<![CDATA[
##DEFAULT##

]]>
          </property>
          <property name="partialcacheminutes"></property>
          <property name="positionleft"></property>
          <property name="positiontop"></property>
          <property name="preservepartialcacheonpostback">True</property>
          <property name="resolvedynamiccontrols">False</property>
          <property name="showfordocumenttypes"></property>
          <property name="tag"></property>
          <property name="text">{%DocumentName%}</property>
          <property name="timezonetype">inherit</property>
          <property name="useupdatepanel">False</property>
          <property name="visible">True</property>
          <property name="webparttitle"></property>
          <property name="webparttype">statictext</property>
        </webpart>
        <webpart controlid="Kadena_Breadcrumbs" guid="57dff9bd-8ff4-4676-b4a5-7d8c1a789fcd" type="Kadena_Breadcrumbs" v="1">
          <property name="cat_open_ajax"></property>
          <property name="cat_open_output_filter"></property>
          <property name="cat_open_performance"></property>
          <property name="cat_open_time zones"></property>
          <property name="cat_open_visibility"></property>
          <property name="container">KadenaBreadcrumbs</property>
          <property name="containercssclass"></property>
          <property name="containercustomcontent"></property>
          <property name="containerhideonsubpages">False</property>
          <property name="containertitle"></property>
          <property name="contentafter"></property>
          <property name="contentbefore"></property>
          <property name="controlid">Kadena_Breadcrumbs</property>
          <property name="customtimezone"></property>
          <property name="disablemacros">False</property>
          <property name="disableviewstate">False</property>
          <property name="displaytoroles"></property>
          <property name="documentid" ismacro="true">
            <![CDATA[{% CurrentDocument.ID |(user)administrator|(hash)a9a82af2e9ed17f3117d017f3e85aad6847125d531dcca4bea6fbc38b843c389%}]]>
          </property>
          <property name="enableoutputfilter">False</property>
          <property name="hideonsubpages">False</property>
          <property name="instanceguid">57dff9bd-8ff4-4676-b4a5-7d8c1a789fcd</property>
          <property name="outputconverttablestodivs">none</property>
          <property name="outputfixattributes">True</property>
          <property name="outputfixhtml5">True</property>
          <property name="outputfixjavascript">True</property>
          <property name="outputfixlowercase">True</property>
          <property name="outputfixselfclose">True</property>
          <property name="outputresolveurls">True</property>
          <property name="partialcachedependencies">
<![CDATA[
##DEFAULT##

]]>
          </property>
          <property name="partialcacheminutes"></property>
          <property name="positionleft"></property>
          <property name="positiontop"></property>
          <property name="preservepartialcacheonpostback">False</property>
          <property name="showfordocumenttypes"></property>
          <property name="timezonetype">inherit</property>
          <property name="useupdatepanel">False</property>
          <property name="visible">True</property>
          <property name="webparttitle"></property>
          <property name="webparttype">Kadena_Breadcrumbs</property>
        </webpart>
      </webpartzone>
      <webpartzone id="zoneContent" v="1" />
      <webpartzone id="zoneMyAccount" v="1">
        <webpart controlid="MyAccountInformation" guid="03c57b66-6353-4637-8415-984bc30096da" type="statictext" v="1">
          <property name="cat_open_ajax"></property>
          <property name="cat_open_output_filter">False</property>
          <property name="cat_open_performance">False</property>
          <property name="cat_open_time zones"></property>
          <property name="cat_open_visibility">False</property>
          <property name="container"></property>
          <property name="containercssclass"></property>
          <property name="containercustomcontent"></property>
          <property name="containerhideonsubpages">False</property>
          <property name="containertitle"></property>
          <property name="contentafter"></property>
          <property name="contentbefore"></property>
          <property name="controlid">MyAccountInformation</property>
          <property name="customtimezone"></property>
          <property name="disablemacros">False</property>
          <property name="disableviewstate">True</property>
          <property name="displaytoroles"></property>
          <property name="enableoutputfilter">False</property>
          <property name="encodetext">False</property>
          <property name="hideonsubpages">False</property>
          <property name="instanceguid">03c57b66-6353-4637-8415-984bc30096da</property>
          <property name="outputconverttablestodivs">none</property>
          <property name="outputfixattributes">False</property>
          <property name="outputfixhtml5">False</property>
          <property name="outputfixjavascript">False</property>
          <property name="outputfixlowercase">False</property>
          <property name="outputfixselfclose">False</property>
          <property name="outputresolveurls">False</property>
          <property name="partialcachedependencies">
<![CDATA[
##DEFAULT##

]]>
          </property>
          <property name="partialcacheminutes"></property>
          <property name="preservepartialcacheonpostback">True</property>
          <property name="resolvedynamiccontrols">False</property>
          <property name="showfordocumenttypes"></property>
          <property name="tag"></property>
          <property name="text">
<![CDATA[
<div class="settings__item">
    <h2>
        {$Kadena.Settings.MyAccountTitle$}
    </h2>
    <div>
        <div class="my-account">
            <table class="my-account__table">
                <tbody>
                    <tr>
                        <td>
                            {$Kadena.Settings.Title$}
                        </td>
                        <td>{%CurrentUser.UserPosition|(user)administrator|(hash)ad64842a437b2bf6b74674e11b3fe00942a7f61ea114cd95d81d186f6c47d85d%}</td>
                    </tr>
                    <tr>
                        <td>
                            {$Kadena.Settings.CompanyName$}
                        </td>
                        <td>
                            {% CurrentUser.UserCompanyName == "" ? Settings.KDA_CustomerFullName : CurrentUser.UserCompanyName |(user)administrator|(hash)7248eddd79097bc5e2c07e39d14baeb32fd155eb18744dc8803220498993a0c6%}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {$Kadena.Settings.UserNameEmail$}
                        </td>
                        <td>{% CurrentUser.UserName |(user)administrator|(hash)7857d71c304a043fe9e8b42aaebedb9d5327dc701d433bed1b3221e8ff8ef938%}</td>
                    </tr>
                    <tr>
                        <td>
                            {$Kadena.Settings.CustomerID$}
                        </td>
                        <td>
                            {% CurrentUser.UserCustomerID |(user)administrator|(hash)92b769b644b006f63f97416855aaf2ca0377a0fb7087c26400407f9de0d78ae7%}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
]]>
          </property>
          <property name="timezonetype">inherit</property>
          <property name="useupdatepanel">False</property>
          <property name="visible">True</property>
          <property name="webparttitle"></property>
          <property name="webparttype">statictext</property>
        </webpart>
        <webpart controlid="ContactInformation" guid="396b6d6d-b026-4099-844a-56c425a988fb" type="statictext" v="1">
          <property name="cat_open_ajax"></property>
          <property name="cat_open_output_filter">False</property>
          <property name="cat_open_performance">False</property>
          <property name="cat_open_time zones"></property>
          <property name="cat_open_visibility">False</property>
          <property name="container"></property>
          <property name="containercssclass"></property>
          <property name="containercustomcontent"></property>
          <property name="containerhideonsubpages">False</property>
          <property name="containertitle"></property>
          <property name="contentafter"></property>
          <property name="contentbefore"></property>
          <property name="controlid">ContactInformation</property>
          <property name="customtimezone"></property>
          <property name="disablemacros">False</property>
          <property name="disableviewstate">True</property>
          <property name="displaytoroles"></property>
          <property name="enableoutputfilter">False</property>
          <property name="encodetext">False</property>
          <property name="hideonsubpages">False</property>
          <property name="instanceguid">396b6d6d-b026-4099-844a-56c425a988fb</property>
          <property name="outputconverttablestodivs">none</property>
          <property name="outputfixattributes">False</property>
          <property name="outputfixhtml5">False</property>
          <property name="outputfixjavascript">False</property>
          <property name="outputfixlowercase">False</property>
          <property name="outputfixselfclose">False</property>
          <property name="outputresolveurls">False</property>
          <property name="partialcachedependencies">
<![CDATA[
##DEFAULT##

]]>
          </property>
          <property name="partialcacheminutes"></property>
          <property name="preservepartialcacheonpostback">True</property>
          <property name="resolvedynamiccontrols">False</property>
          <property name="showfordocumenttypes"></property>
          <property name="tag"></property>
          <property name="text">
<![CDATA[
<div class="settings__item j-contant-person-form" data-function="ContactPersonDetailsChange" data-id="{% CurrentUser.GUID |(user)administrator|(hash)8193d504f6de6e276c15d0b104209a89ee806ba6485c5481c641994ab780467b%}">
    <h2>{$Kadena.Settings.ContanctPerson$}
    </h2>
    <div>
        <div class="form">
            <div class="input__wrapper">
                <span class="input__label">{$Kadena.Settings.FirstName$}
                </span>
                <input type="text" class="input__text j-first-name" value="{% CurrentUser.FirstName |(user)administrator|(hash)3f4bd49a7888d1d5e25018c067f66a4b452899a56d9994d5e4afc2294130940c%}" maxlength="100">
            </div>
            <div class="input__wrapper">
                <span class="input__label">{$Kadena.Settings.LastName$}
                </span>
                <input type="text" class="input__text j-last-name" value="{% CurrentUser.LastName |(user)administrator|(hash)10635407736a26167883c1d6672b3d4505b6a8d0f9179936b6598bb62448bce6%}" maxlength="100">
            </div>
            <div class="input__wrapper">
                <span class="input__label">{$Kadena.Settings.Mobile$}
                </span>
                <input type="text" class="input__text j-mobile" value="{% CurrentUser.UserMobile |(user)administrator|(hash)45c77ee4be222ac7d786183aff2b9f83c4f07f37a882df3a4a8b7e819b01a4fd%}" maxlength="40">
            </div>
            <div class="input__wrapper">
                <span class="input__label">
                    {$Kadena.Settings.PhoneNumber$}
                </span>
                <input type="text" class="input__text j-phone" value="{% CurrentUser.UserPhone |(user)administrator|(hash)c24b1469a806e58a9fec896bc1d5acfd2b272342d6cfddfa80171f9d42669cf5%}" maxlength="26">
            </div>
        </div>
    </div>
    <button type="button" class="btn-action j-submit-button">{$Kadena.Settings.SaveContactPersonChanges$}</button>
    <span class="input__error input__error--noborder j-error-message" style="display:none;">Error</span>
</div>
]]>
          </property>
          <property name="timezonetype">inherit</property>
          <property name="useupdatepanel">False</property>
          <property name="visible">True</property>
          <property name="webparttitle"></property>
          <property name="webparttype">statictext</property>
        </webpart>
      </webpartzone>
      <webpartzone id="zoneAddresses" v="1">
        <webpart controlid="javascript" guid="97644a00-c6b7-4f99-b52c-8825372af696" type="javascript" v="1">
          <property name="cat_open_behavior"></property>
          <property name="cat_open_performance"></property>
          <property name="controlid">javascript</property>
          <property name="disablemacros">False</property>
          <property name="disableviewstate">False</property>
          <property name="displaytoroles"></property>
          <property name="generatescripttags">True</property>
          <property name="hideonsubpages">False</property>
          <property name="inlinescript">
<![CDATA[
config.localization.userSettings = {
      addresses:{
          initUIURL: '/api/usersettings',
          editAddressURL: '/api/usersettings/saveshippingaddress'
      }
  };
]]>
          </property>
          <property name="inlinescriptpagelocation">Header</property>
          <property name="instanceguid">97644a00-c6b7-4f99-b52c-8825372af696</property>
          <property name="linkedfile"></property>
          <property name="linkedfilepagelocation">Header</property>
          <property name="showfordocumenttypes"></property>
          <property name="visible">True</property>
          <property name="webparttitle"></property>
          <property name="webparttype">javascript</property>
        </webpart>
        <webpart controlid="BillingAddresses" guid="64dff36e-f902-4da7-8e2d-84c1d2e77634" type="statictext" v="1">
          <property name="cat_open_ajax"></property>
          <property name="cat_open_output_filter">False</property>
          <property name="cat_open_performance">False</property>
          <property name="cat_open_time zones"></property>
          <property name="cat_open_visibility">False</property>
          <property name="container"></property>
          <property name="containercssclass"></property>
          <property name="containercustomcontent"></property>
          <property name="containerhideonsubpages">False</property>
          <property name="containertitle"></property>
          <property name="contentafter"></property>
          <property name="contentbefore"></property>
          <property name="controlid">BillingAddresses</property>
          <property name="customtimezone"></property>
          <property name="disablemacros">False</property>
          <property name="disableviewstate">True</property>
          <property name="displaytoroles"></property>
          <property name="enableoutputfilter">False</property>
          <property name="encodetext">False</property>
          <property name="hideonsubpages">False</property>
          <property name="instanceguid">64dff36e-f902-4da7-8e2d-84c1d2e77634</property>
          <property name="outputconverttablestodivs">none</property>
          <property name="outputfixattributes">False</property>
          <property name="outputfixhtml5">False</property>
          <property name="outputfixjavascript">False</property>
          <property name="outputfixlowercase">False</property>
          <property name="outputfixselfclose">False</property>
          <property name="outputresolveurls">False</property>
          <property name="partialcachedependencies">
<![CDATA[
##DEFAULT##

]]>
          </property>
          <property name="partialcacheminutes"></property>
          <property name="preservepartialcacheonpostback">True</property>
          <property name="resolvedynamiccontrols">False</property>
          <property name="showfordocumenttypes"></property>
          <property name="tag"></property>
          <property name="text">
            <![CDATA[<div class="r-settings-addresses"></div>]]>
          </property>
          <property name="timezonetype">inherit</property>
          <property name="useupdatepanel">False</property>
          <property name="visible" ismacro="true">
            <![CDATA[{% ECommerceContext.CurrentCustomer != null |(user)administrator|(hash)3efeca51d8883dd3e249e65d63dba4a6d97a21cd029936bf3c30d45f66dc5bc8%}]]>
          </property>
          <property name="webparttitle">BillingAddresses (Static Text)</property>
          <property name="webparttype">statictext</property>
        </webpart>
      </webpartzone>
      <webpartzone id="zonePassword" v="1">
        <webpart controlid="PasswordChange" guid="d6b6dfb0-5f42-4934-aaf7-fc5deb863b32" type="statictext" v="1">
          <property name="cat_open_ajax"></property>
          <property name="cat_open_output_filter">False</property>
          <property name="cat_open_performance">False</property>
          <property name="cat_open_time zones"></property>
          <property name="cat_open_visibility"></property>
          <property name="container"></property>
          <property name="containercssclass"></property>
          <property name="containercustomcontent"></property>
          <property name="containerhideonsubpages">False</property>
          <property name="containertitle"></property>
          <property name="contentafter"></property>
          <property name="contentbefore"></property>
          <property name="controlid">PasswordChange</property>
          <property name="customtimezone"></property>
          <property name="disablemacros">False</property>
          <property name="disableviewstate">True</property>
          <property name="displaytoroles"></property>
          <property name="enableoutputfilter">False</property>
          <property name="encodetext">False</property>
          <property name="hideonsubpages">False</property>
          <property name="instanceguid">d6b6dfb0-5f42-4934-aaf7-fc5deb863b32</property>
          <property name="outputconverttablestodivs">none</property>
          <property name="outputfixattributes">False</property>
          <property name="outputfixhtml5">False</property>
          <property name="outputfixjavascript">False</property>
          <property name="outputfixlowercase">False</property>
          <property name="outputfixselfclose">False</property>
          <property name="outputresolveurls">False</property>
          <property name="partialcachedependencies">
<![CDATA[
##DEFAULT##

]]>
          </property>
          <property name="partialcacheminutes"></property>
          <property name="preservepartialcacheonpostback">True</property>
          <property name="resolvedynamiccontrols">False</property>
          <property name="showfordocumenttypes"></property>
          <property name="tag"></property>
          <property name="text">
<![CDATA[
<div class="settings__item j-password-change-form" data-function="ChangePassword" data-id="{% CurrentUser.GUID |(user)administrator|(hash)8193d504f6de6e276c15d0b104209a89ee806ba6485c5481c641994ab780467b%}">
    <div>
        <div class="form">
            <div class="input__wrapper js-password">
                <div class="input__inner">
                    <input type="password" class="input__password js-password-input j-old-password" placeholder="{$Kadena.Settings.Password.OldPassword$}" />
                    <span class="input__toggler js-password-toggler" data-password-show='{$Kadena.Field.Show$}' data-password-hide='{$Kadena.Field.Hide$}'>{$Kadena.Field.Show$}</span>
                </div>
                <span class="input__error input__error--noborder j-old-password-empty-error-label" style="display: none;">{$Kadena.Settings.Password.OldPasswordIsEmpty$}</span>
                <span class="input__error input__error--noborder j-old-password-whitespace-error-label" style="display: none;">{$Kadena.Settings.Password.OldPasswordContainsWhiteSpaces$}</span>
            </div>
            <div class="input__wrapper js-password">
                <div class="input__inner">
                    <input type="password" class="input__password js-password-input j-new-password" placeholder="{$Kadena.Settings.Password.NewPassword$}" />
                    <span class="input__toggler js-password-toggler" data-password-show="{$Kadena.Field.Show$}" data-password-hide="{$Kadena.Field.Hide$}">{$Kadena.Field.Show$}</span>
                </div>
                <span class="input__error input__error--noborder j-new-password-empty-error-label" style="display: none;">{$Kadena.Settings.Password.NewPasswordIsEmpty$}</span>
                <span class="input__error input__error--noborder j-new-password-whitespace-error-label" style="display: none;">{$Kadena.Settings.Password.NewPasswordContainsWhiteSpaces$}</span>
            </div>
            <div class="input__wrapper js-password">
                <div class="input__inner">
                    <input type="password" class="input__password js-password-input j-confirm-password" placeholder="{$Kadena.Settings.Password.ConfirmNewPassword$}" />
                    <span class="input__toggler js-password-toggler" data-password-show="{$Kadena.Field.Show$}" data-password-hide="{$Kadena.Field.Hide$}">{$Kadena.Field.Show$}</span>
                </div>
                <span class="input__error input__error--noborder j-confirm-password-empty-error-label" style="display: none;">{$Kadena.Settings.Password.ConfirmPasswordIsEmpty$}</span>
                <span class="input__error input__error--noborder j-confirm-password-whitespace-error-label" style="display: none;">{$Kadena.Settings.Password.ConfirmPasswordContainsWhiteSpaces$}</span>
                <span class="input__error input__error--noborder j-passwords-dont-match-error-label" style="display: none;">{$Kadena.Settings.Password.PasswordsDontMatch$}</span>
                <span class="input__error input__error--noborder j-general-error-label" style="display: none;"></span>
            </div>
        </div>
    </div>

    <button type="button" class="btn-action j-submit-button">{$Kadena.Settings.Password.ChangePassword$}</button>
</div>
]]>
          </property>
          <property name="timezonetype">inherit</property>
          <property name="useupdatepanel">False</property>
          <property name="visible">True</property>
          <property name="webparttitle"></property>
          <property name="webparttype">statictext</property>
        </webpart>
      </webpartzone>
    </page>
  </PageTemplateWebParts>
</cms.pagetemplate>