.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__info {
    @extend .weight--bold;
    font-size: $font-size-default;
  }

  &__left {
    flex-shrink: 0;
    flex-grow: 1;
  }

  &__right {
    flex-shrink: 0;
    flex-grow: 1;
    text-align: right;

    & > * {
      display: inline-block;
    }

    input[type="number"] {
      @include rem(margin-right, 5px);
      width: 70px;
    }
  }

  &__right-label {
    @include rem(margin-right, 30px);
  }
}
