.adress-card {
  @include rem(padding, 10px);
  @include rem(margin, 0 0 20px 20px);
  display: inline-block;
  border-radius: $border-radius-xl;
  border: 3px solid $brand-grey;
  background-color: rgba($brand-grey, .3);

  span {
    display: block;

    &:last-child {
      @include rem(padding-bottom, 12px);
    }
  }

  &__btn-block {
    a:not(:first-child) {
      @include rem(margin-left, 5px);
    }
  }
}
