.badge {
  $m-size: 22px;
  $s-size: 18px;
  display: inline-block;
  border-radius: 100%;
  text-align: center;

  &--m {
    width: $m-size;
    height: $m-size;

    &:hover {
      width: $m-size + 2px;
      height: $m-size + 2px;

      &:after {
        width: $m-size + 4px;
        height: $m-size + 4px;
      }
    }
  }

  &--hover {
    &:hover {
      border: 1px solid $brand-lightgrey;

      &:after {
        content: '';
        display: block;
        background: transparent;
        position: absolute;
        left: -2px;
        top: -2px;
        border: 1px solid $brand-primary;
        border-radius: 100%;
      }
    }
  }

  &--s {
    width: $s-size;
    height: $s-size;
    font-size: 13px;
    line-height: 16px;
    padding: 0;
  }

  &--dark {
    background-color: $brand-dark;
  }

  &--empty {
    background-color: transparent;
    color: $brand-dark;
    border: 1px solid $brand-dark;
  }

  &--bold {
    @extend .weight--black;
  }
}
