.block {
  &__heading {
    @include rem(margin, 8px 0 8px);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__right-label {
    font-size: $font-xxs;
    font-weight: 400;
  }
}
