.breadcrumbs {
  a {
    &:not(:last-child) {
      margin-right: 7px;
    }

    @extend .link;
    font-size: $font-xs;

    &:after {
      content: '/';
      display: inline-block;
      margin-left: 7px;
      color: $brand-darkgrey;
    }

    &:last-child {
      pointer-events: none;
      cursor: default;
      color: $brand-darkgrey;

      &:after {
        display: none;
      }
    }
  }
}
