.cart-fill {
  &__block {
    &:not(:last-child) {
      @include rem(margin-bottom, 25px);
    }

    .input__wrapper {
      @include rem(margin-bottom, 16px);

      label p {
        @include rem(margin-bottom, 8px);
      }
    }

    &-input-wrapper {
      display: flex;

      .input__wrapper {
        @include rem(left, 16px);
        @include rem(margin-bottom, 0);
        position: relative;

        input {
          width: auto;
        }
      }
    }
  }

  &__block-inner {
    @include rem(padding, 5px 0 0 20px);
  }

  &__summary-table {
    max-width: 270px;
  }

  &__block--flex {
    display: flex;
    flex-wrap: wrap;

    & > *:not(:last-child) {
      @extend .mr-4;
      margin-bottom: 0;
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.cart__dialog-table,
.checkout__dialog-table {
  td {
    vertical-align: top;
  }
}

.cart__dialog-table {
  td:not(:first-child) {
    @extend .pl-2;
  }
}

.checkout__dialog-table {
  @include dialog-table(5);
}
