.cart-fill {
  &__block {
    &:not(:last-child) {
      @include rem(margin-bottom, 25px);
    }

    .input__wrapper {
      @include rem(margin-bottom, 16px);

      label p {
        @include rem(margin-bottom, 8px);
      }
    }

    &-input-wrapper {
      input[type="radio"]:checked ~ .input__wrapper {
        visibility: visible;
      }

      label {
        float: left;
      }

      .input__wrapper {
        @include rem(left, 16px);
        @include rem(margin-bottom, 0);
        visibility: hidden;
        position: relative;

        input {
          width: auto;
        }
      }
    }

    .btn-group {
      @include rem(margin, 20px 0 20px);
    }
  }

  &__block-inner {
    @include rem(padding, 5px 0 0 20px);
  }

  &__block--flex {
    display: flex;
    flex-wrap: wrap;

    & > *:not(:last-child) {
      @extend .mr-4;
      margin-bottom: 0;
    }
  }
}

.cart__dialog-table {
  tr td:not(:first-child) {
    @include rem(padding-left, 10px);
  }
}
