.cart-product {
  $margin-content: 15px;
  $padding-block: 10px;
  $margin-block: 16px;
  $btn-size: 100px;
  $input-width: 90px;
  $icon-square: 15px;
  $icon-arrow: 40px;
  $icon-margin: 7px;
  $min-height: 130px;
  $block-border-radius: 4px;

  @include rem(padding, $padding-block);
  @include rem(margin,   $margin-block 0);
  border-radius: $block-border-radius;
  border: 3px solid $brand-grey;
  display: flex;
  min-height: $min-height;

  p {
    margin: 0;
  }

  & > * {
    &:not(:last-child) {
      @include rem(padding-right, $padding-block);
    }
  }

  &__img {
    align-self: center;
    width: 150px;
    text-align: center;

    img {
      max-height: 105px;
      max-width: 105px;
    }
  }

  &__content {
    @extend %flex--default--between;
    flex-direction: column;
    width: 100%;
  }

  &__options {
    display: flex;
    margin-left: auto;

    & > * {
      white-space: nowrap;
    }

    &--center {
      align-items: center;
    }
  }

  &__price {
    @include rem(margin-bottom, $padding-block);

    span {
      @extend .weight--bold;
      white-space: nowrap;
      font-size: $font-m;
    }
  }

  &__optional {
    @include rem(margin-bottom, 8px);

    span,
    p {
      white-space: nowrap;

      & > span {
        @extend .weight--bold;
      }
    }
  }

  &__file {
    @include rem(margin-bottom, 8px);

    a {
      white-space: nowrap;
    }
  }

  &__btn {
    @extend .in-card-btn;
    @extend %flex--center--default;
    width: $btn-size;

    &:not(:last-child) {
      @include rem(margin-bottom, $padding-block);
    }

    &[disabled] {
      opacity: .5;
    }
  }

  &__delivery,
  &__mlist,
  &__template,
  &__tracking {
    p {
      @extend %flex--center--default;
    }

    svg {
      margin-right: $icon-margin;
      width: $icon-square;
      height: $icon-square;
    }
  }

  &__delivery {
    p {
      color: $brand-success;
    }

    svg {
      height: $icon-arrow;
    }
  }

  &__quantity {
    display: none;

    & > * {
      display: inline-block;

      &:not(:last-child) {
        @extend .mr-3;
      }
    }

    input[type="number"] {
      @extend .input__text;
      @extend .input__text--small;
      width: $input-width;
    }
  }

  &__mlist {
    display: flex;
    align-items: center;

    & > * {
      &:not(:last-child) {
        @extend .mr-3;
      }
    }
  }

  &--non-deliverable {
    .cart-product__mlist {
      display: none;
    }

    .cart-product__quantity {
      display: flex;
      align-items: center;
    }
  }

  &--ordereded {
    .cart-product__tracking {
      display: block;
    }

    .cart-product__delivery {
      display: none;
    }

    .cart-product__optional {
      display: block;
    }

    .cart-product__file {
      display: block;
    }

    .cart-product__action {
      display: none;
    }
  }
}
