$offset-height: 55px;
$padding: 20px;
$sidebar-width-close: 70px;

.content {
  background: #edf1f5;
  width: 100%;
  padding: $padding;
  padding-left: $padding + $sidebar-width-close;
  transition: all .4s ease-in-out;

  &-header {
    font-size: $font-l;
    color: $brand-dark;
    display: inline-block;
  }

  &__breadcrumbs {
    float: right;

    &-link {
      color: $brand-secondary;
    }
  }

  &__canvas {
    margin-top: 20px;
    padding: 20px;
    background-color: $brand-white;
    min-height: calc(100% - #{$offset-height});
  }
}
