$offset-height: 55px;
$padding: 10px;
$sidebar-width-close: 70px;
$content-inner-padding: 24px;

.content {
  width: 100%;
  padding-left: $sidebar-width-close;
  transition: all 0.4s ease-in-out;

  &__inner {
    background-color: $brand-white;
    width: 100%;
    padding: $content-inner-padding $content-inner-padding $content-inner-padding 34px;
    // Hardcoded height
    min-height: calc(100vh - 192px);
  }

  &-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 12px;

    &__inner {
      display: flex;
      flex-wrap: nowrap;
      align-items: baseline;
    }

    &__btn {
      @extend .bg-secondary;
      @extend .btn--circle;

      @include rem(margin-left, 10px);
    }
  }
}
