$offset-height: 55px;
$padding: 10px;
$sidebar-width-close: 70px;

.content {
  width: 100%;
  padding-left: $sidebar-width-close;
  transition: all 0.4s ease-in-out;

  &__inner {
    background-color: $brand-white;
    width: 100%;
    padding: 24px 24px 24px 34px;
    // Hardcoded height
    min-height: calc(100vh - 192px);
  }

  &-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 12px;

    .breadcrumbs {
      @extend .mb-3;
    }

    &__page-name,
    &__inner {
      order: 1;
      margin-right: auto;
    }

    &__inner {
      display: flex;
      flex-wrap: nowrap;
      align-items: baseline;
    }

    &__btn {
      @extend .bg-secondary;
      @extend .btn--circle;
      order: 2;

      @include rem(margin-left, 10px);
    }
  }
}
