.show-table-bottom {
  margin-bottom: 20px;
}

.search__block {
  width: 370px;
  float: left;
  margin: 0 0 20px;
  position: relative;
}

.add__btn {
  float: right;

  a {
    color: $brand-white;
    border-radius: $border-radius;
    padding: 6px 9px;
    display: inline-block;

    i {
      margin-right: 10px;
    }
  }
}

.form_btns {
  width: 100%;
  padding: 15px 0;

  .login__login-button {
    width: auto;
  }
}

.clearfix {
  clear: both;
}

.webform_title {
  padding-bottom: 20px;

  h4 {
    display: inline-block;
  }
}

.form_block {
  float: left;
  width: 50%;
  margin-right: 0%;
  margin-bottom: 15px;
  padding: 0 15px;
}

.required:after {
  content: "*";
  color: red;
  position: absolute;
  font-weight: 700;
}

.prebuy-distdata {
  margin-bottom: 20px;

  .custom_select {
    padding-left: 0;
  }

  .add__btn {
    padding-left: 5px;
    margin-bottom: 20px;
    float: right;
  }
}

.Distributor-name {
  display: inline;

  h4 {
    display: inline-block;
  }
}

.itemcount {
  text-align: right;
  margin-bottom: 10px;
}

.mb30 {
  margin-bottom: 50px;
}

select[disabled] {
  cursor: not-allowed;
}

.btn-view button {
  background: transparent;
  color: transparent;
  border: 0;
  box-shadow: none;
}

.modalcontent-custom {
  margin: 10px;

  .add_btn {
    margin-bottom: 10px;
  }
}

.mr5 {
  margin-right: 5px;
}

