.footer {
  @extend %flex--center--center;
  height: $footer-size;
  font-size: $font-xxs;
  background-color: $brand-white;
  text-align: center;
  border-top: $main-layout-gutter solid $main-gutter-color;
  border-bottom-left-radius: $border-radius-xl;
  border-bottom-right-radius: $border-radius-xl;

  & a {
    @extend .link;
  }

  &__devider {
    @include rem(margin, 0 6px);
  }

  p {
    margin: 0;
  }
}
