.css-header {
  @extend .bg-white;
  position: relative;
  height: $header-size + $main-layout-gutter;
  border-top-left-radius: $border-radius-xl;
  border-top-right-radius: $border-radius-xl;
  padding-right: 0;
  border-bottom: $main-layout-gutter solid $main-gutter-color;

  .navbar-brand {
    color: inherit;
    padding: 0;

    img {
      max-height: 2.25rem;
      max-width: 6.75rem;
    }
  }

  .navbar-user {
    font-size: $font-s;
  }

  .navbar-nav {
    margin-left: auto;
    flex-shrink: 0;

    .nav-item {
      @extend %flex--center--default;
      position: relative;

      &.active,
      &:hover {
        background-color: $main-gutter-color;

        .nav-badge {
          border-color: $main-gutter-color;
        }
      }

      &--secondary {
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }

      &:last-child {
        border-top-right-radius: $border-radius-xl;

        .nav-link {
          @include rem(padding-right, $main-layout-gutter + 12px);
        }
      }

      svg {
        margin: 0 .5rem 0 0;
        $size: 16px;
        width: $size;
        height: $size;

        @include media-breakpoint-down(lg) {
          margin: 0 0 .25rem;
        }
      }

      .nav-link {
        @include rem(padding, 18px 12px 18px 14px);

        @extend %flex--center--default;
        color: $brand-dark;
        font-weight: 400;
        position: relative;
        white-space: nowrap;

        @include media-breakpoint-down(lg) {
          font-size: $font-xxs;
          flex-direction: column;
        }

        @include media-breakpoint-down(lg) {
          @include rem(padding, 11px 20px);
        }
      }
    }

    .nav-badge {
      background-color: $brand-warning;
      border-radius: 100%;
      color: white;
      margin-left: .25rem;
      font-size: 10px;
      padding: 0 3px;
      text-align: center;

      @include media-breakpoint-down(lg) {
        $size: 10px;
        border: 1px solid white;
        width: $size;
        height: $size;
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(50%);
        margin-left: 0;
        padding: 0;
        font-size: $font-size-default;

        &__text {
          display: none;
        }
      }
    }
  }
}
