.homepage-header {
  align-items: flex-start;

  &__notification {
    p {
      padding: 15px;
      background: #f9e9e9;
      border-radius: 5px;
      overflow: auto;
      margin: 0;
    }
  }
}
