.icons-sort {
  @extend .mr-2;
  display: inline-block;

  & > * {
    opacity: .2;

    &:last-child {
      transform: rotate(180deg);
    }
  }

  &--asc {
    & > *:first-child {
      opacity: 1;
    }
  }

  &--desc {
    & > *:last-child {
      opacity: 1;
    }
  }
}
