.language-selector {
  $width: 250px;
  position: relative;

  &--short {
    width: $width;
  }

  &__arrow {
    width: 10px !important;
    height: 10px !important;
    margin-left: 5px !important;
    transition: all 400ms;

    &--hovered {
      rotate: 180deg;
    }
  }

  &__list {
    @extend .list--unstyled;
    background: white;
    min-width: $width;
    margin: 0;
    transition: all 400ms;

    &--absolute {
      transform: translateY(100%);
      bottom: 0;
      position: absolute;
      left: 0;
      z-index: 3;
    }

    &--shadow {
      box-shadow: 0 0 15px $brand-darkgrey;
    }

    &-enter {
      opacity: .01;

      &-active {
        opacity: 1;
      }
    }

    &-leave {
      opacity: 1;

      &-active {
        opacity: .01;
      }
    }
  }

  &__input {
    padding-right: 41px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    right: 11px;
    top: 11px;
    position: absolute;
  }

  &__item {
    padding: 5px 25px;
    color: $brand-dark;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid $brand-darkgrey;
    }

    &:hover {
      background-color: $main-gutter-color;
    }
  }
}
