.mailing-ready {
  &__block {
    &:first-child {
      @include rem(padding-bottom, 30px);
    }

    &:not(:first-child) {
      @include rem(padding-top, 30px);
      border-top: 2px solid $processed-list-block-border;
    }
  }

  &__paragraph {
    @include rem(margin-bottom, 30px);

    p {
      @include rem(margin-bottom, 10px);
      font-weight: 100;
      color: $font-dark;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__header {
    @include rem(margin-bottom, 30px);
    font-size: $font-xm;
  }

  &__links {
    & > *:not(:last-child) {
      @include rem(margin-right, 30px);
    }

    svg {
      @include rem(margin-right, 7px);
    }

    span {
      color: $font-grey;
      font-weight: 100;
      vertical-align: top;
    }

    a {
      display: inline-flex;
      flex-wrap: nowrap;
      align-items: center;
      font-weight: 100;
    }
  }
}
