$sidebar-width-open: 220px;
$padding: 20px;

.css-main {
  &.isOpen {
    .css-sidebar {
      flex: 0 0 $sidebar-width-open;
      width: $sidebar-width-open;
      font-size: $font-s;
    }

    .content {
      padding-left: $padding + $sidebar-width-open;
    }
  }
}
