.header-overlay {
  width: 100%;
  height: calc(100% - #{$header-size});
  border-bottom-left-radius: $border-radius-xl;
  border-bottom-right-radius: $border-radius-xl;
  position: absolute;
  left: 0;
  background: $brand-lightblue;
  opacity: .5;
  z-index: 1;
  top: $header-size;
  transition: all 400ms;

  &-enter {
    opacity: .01;

    &-active {
      opacity: .5;
    }
  }

  &-leave {
    opacity: .5;

    &-active {
      opacity: .01;
    }
  }
}
