.product-options__option {
  display: inline-block;

  &:not(:last-child) {
    @extend .mr-3;
  }
}

.product-options {
  $select-width: 170px;

  & > * {
    @extend .product-options__option;
  }

  &--select {
    & > * {
      min-width: $select-width;
    }
  }

  &--radio-h {
    @extend .product-options__option;

    & > * {
      display: block;

      &:not(:last-child) {
        @extend .mb-3;
      }
    }
  }
}
