.product-view {
  $product-img-size: 250px;
  $product-blocks-gap: 15px;

  &__img {
    @include rem(margin-right, $product-blocks-gap);

    @extend .inline-bg;
    position: relative;
    float: left;
    width: $product-img-size;
    height: $product-img-size;
  }

  &__zoom {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: none; // TODO: FIX IN THE SPECIAL STORY OF ZOOMING
  }

  &__block {
    overflow: hidden;
    width: calc(100% - #{$product-img-size} - #{$product-blocks-gap});
    margin-left: calc(#{$product-img-size} + #{$product-blocks-gap});

    & > div {
      @include rem(margin-bottom, 30px);
    }
  }

  &__info {
    @extend %flex--center--between;

    @include rem(padding, 17px 10px);
    flex-wrap: nowrap;
    border: 1px solid $brand-grey;

    span {
      @include rem(margin-right, 20px);
      font-size: $font-xs;
      white-space: nowrap;
    }
  }

  &__info-description {
    flex-grow: 0;
    flex-shrink: 1;
  }

  &__info-btn {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__properties {
    display: flex;
    flex-wrap: wrap;
  }

  &__property {
    @include rem(line-height, 35px);
    @include rem(margin-right, 30px);
    font-weight: bold;
  }

  &__property-val {
    @extend .weight--normal;
  }

  &__tables {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -#{$product-blocks-gap};

    .table {
      width: calc(50% - #{$product-blocks-gap*2});
      margin: 0 $product-blocks-gap;
      font-size: $font-size-default;

      tr > th:first-child {
        @include rem(padding-left, 35px);
        position: relative;

        .icon {
          position: absolute;
          left: 17px;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &__footer {
    @extend %flex--center--between;

    .stock {
      @include rem(font-size, 16px);
    }
  }
}
