.product-editor {
  $bar-margins-x: 20px;
  $product-block-y: 20px;
  $product-bar-input: 100px;

  &__block {
    @include rem(margin-top, $product-block-y);
  }

  &__bar {
    @extend %flex--center--between;
    flex-wrap: wrap;

    & > div {
      @include rem(margin-bottom, 40px);
      flex-shrink: 0;

      & > * + * {
        @include rem(margin-left, $bar-margins-x);
      }
    }

    .input__label {
      position: absolute;
      left: 0;
      bottom: 100%;
    }

    .input__error {
      position: absolute;
      left: 0;
      top: 100%;
    }

    .input__wrapper {
      float: left;
      width: 220px;
    }
  }

  &__iframe {
    position: relative;
    padding-top: 56.25%;
    width: calc(100% + #{$content-inner-padding * 2});
    margin: 0 #{-$content-inner-padding} #{-$content-inner-padding};
    background-color: $brand-grey;

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      /**
       * IE bug on Windows 7:
       * Flash parameter <param name="wmode" value="direct" />
       * causes the flash object to be stacked highest in the viewport,
       *
       * We cannot use value "opaque", or "transparent", because when parameter
       * "enable3D=true" is present in the iframe URL the flash widget has
       * to support some 3D rendering functionalities which are not available
       * when "wmode" is not set as "direct".
       *
       * Therefore we check the iframe parameters and when overlay or modal dialog
       * are shown we just temporarily hide the flash widget, so that no content
       * is overlapped.
       *
       * Class "IE" is added by Kentico to document.body.
       *
       * Ticket: KDA-3216
       */
      &[src*='enable3D=true'] {
        transition: visibility .3s ease-out, opacity .3s ease-out;
        visibility: visible;
        opacity: 1;
        will-change: visibility, opacity;

        .IE.has-overlay &,
        .IE.has-dialog & {
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }

  &__table-select {
    width: 100%;

    tr > td:last-child {
      text-align: center;
    }

    td > span,
    th > span {
      @include rem(height, 40px);
      display: table-cell;
      vertical-align: middle;
    }
  }

  &__bottom {
    @extend %flex--center--between;

    @include rem(margin-top, 30px);
  }

  &__left-text {
    @include rem(padding-right, 30px);
  }

  &__right-btn-group {
    flex-shrink: 0;
  }
}
