.show-table {
  $transition-length: 300ms;
  overflow: hidden;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid $brand-grey;
  transition: all 400ms;

  &--pointer {
    tr td {
      cursor: pointer;
    }
  }

  &--opacity {
    opacity: 0.6;
  }

  &--hide-rows {
    tr:not(:first-child) {
      display: none;
    }

    tr.active {
      display: table-row;
    }
  }

  & tr td,
  & tr th {
    @include rem(padding, 16px 8px);
    background-color: rgba($brand-white, 1);
    border-top: 1px solid $brand-grey;
    border-bottom: 1px solid $brand-grey;
    white-space: nowrap;

    &:last-child {
      border-right: 1px solid $brand-grey;
    }

    &:first-child {
      border-left: 1px solid $brand-grey;
    }

    &.fixed-main-td {
      max-width: 350px;
      width: 350px;

      @media (min-width: 1400px) {
        max-width: 550px;
        width: 550px;
      }

      @media (min-width: 1600px) {
        max-width: 650px;
        width: 650px;
      }
    }
  }

  & tr th {
    @include rem(padding, 14px 8px);
    text-transform: uppercase;
    font-size: $font-xs;
  }

  tr {
    position: relative;
  }

  & tr:nth-child(2n) {
    & > * {
      background-color: rgba($brand-lightgrey, 1);
    }

    .show-table__text-appear,
    .show-table__text-cutted {
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 42px;
        height: 100%;
        background: $show-table-row-gardient--gray;
      }
    }

    &:hover {
      .show-table__will-appear {
        &:after {
          content: '';
          position: absolute;
          right: 100%;
          top: 0;
          width: 42px;
          height: 100%;
          background: $show-table-row-gardient--gray;
        }
      }
    }
  }

  &__list-text {
    &:not(:last-child) {
      @include rem(margin-right, 3px);

      &:after {
        content: '/';

        @include rem(margin-left, 5px);
      }
    }
  }

  &__badge {
    @include rem(margin-right, 3px);
  }

  &__text-appear {
    max-width: 250px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 42px;
      height: 100%;
      background: $show-table-row-gardient;
    }

    tr:hover > & {
      overflow: visible;

      &:after {
        visibility: hidden;
      }
    }
  }

  &__text-cutted {
    position: relative;
    overflow: hidden;
    white-space: nowrap;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 42px;
      height: 100%;
      background: $show-table-row-gardient;
    }
  }

  &__will-hide {
    tr:hover > & {
      color: transparent;

      & > * {
        background-color: transparent;
        color: transparent;
        border-color: transparent;
      }
    }
  }

  &__will-appear {
    position: relative;
    text-align: center;

    & > * {
      visibility: hidden;
      opacity: 0;
      transition: all $transition-length ease-in;
    }

    tr:hover > & > * {
      visibility: visible;
      opacity: 1;
    }

    tr:hover > & {
      z-index: 1;
    }

    tr:hover > & {
      &:after {
        content: '';
        position: absolute;
        right: 100%;
        top: 0;
        width: 42px;
        height: 100%;
        background: $show-table-row-gardient;
      }
    }
  }

  &__sort-icon {
    @include rem(margin-right, 8px);
  }
}
