.sidebar-logo {
  @extend %flex--center--default;
  position: absolute;
  bottom: 25px;
  left: $sidebar-width-small/2;
  transform: translate(-50%, 0);
  transition: all .4s ease-in-out;

  .icon-sidebar-logo {
    display: none;
  }

  .icon-sidebar-logo-small {
    display: block;
  }

  &__text {
    color: $font-grey;
    font-size: $font-xs;
    visibility: hidden;
    width: 0;
    height: 0;
    padding-left: 0;
  }

  .isOpen & {
    left: $sidebar-width-large/2;

    .icon-sidebar-logo-small {
      display: none;
    }

    .icon-sidebar-logo {
      display: block;
    }
  }
}
