.signup__form {
  position: absolute;

  .login__form {
    margin: 0 auto;
    position: static;
    width: 600px;

    .login__form-inner {
      overflow-y: inherit;

      .form {
        padding: 15px;
        margin-bottom: 15px;

        h2 {
          margin-bottom: 20px;
        }
      }
    }
  }
}

