.snack-notification {
  @extend %flex--default--between;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: all 250ms linear;

  @include rem(padding, 10px 40px);

  &__btn {
    @extend .btn--off;
    @extend %flex--center--default;
    text-transform: uppercase;

    &:active,
    &:focus {
      outline: none;
    }

    svg {
      @extend .mr-1;
      @extend .icon-dollar;
    }
  }

  $selectors: (info: (#fff: $brand-dark), warning: ($brand-dark: $brand-info), error: (#fff: $brand-dangerous), success: (#fff: $brand-success));

  @each $selector, $colors in $selectors {
    @each $color, $bg in $colors {
      &--#{$selector} {
        color: $color;
        background-color: $bg;

        .snack-notification__btn {
          color: $color;
        }
      }
    }
  }

  &.hide {
    opacity: 0;
  }

  $show-number: 3;

  @while $show-number > 0 {
    &.show-#{$show-number} {
      $value: $show-number * 100% - 100%;
      transform: translateY(-$value);
    }
    $show-number: $show-number - 1;
  }
}
