.spotfire {
  $height: 30vw;

  &__controllers {
    @include rem(margin-bottom, 24px);
  }

  &__item {
    @extend %flex--center--center;
    @include rem(margin-bottom, 24px);

    border-radius: $border-radius-xl;
    overflow: hidden;
    height: $height;
  }
}
