.stock {
  @extend %flex--center--default;
  flex-wrap: nowrap;
  font-weight: 400;
  font-size: $font-size-default;

  svg {
    @include rem(margin-right, 5px);
  }

  &--available {
    color: $font-success;
  }

  &--unavailable {
    color: $brand-dark;
  }

  &--outofstock {
    color: $error-mark;
  }
}
