.submitted {
  &__central-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 320px;
    height: 370px;
  }

  &__text-group {
    &--centered {
      text-align: center;
    }
  }

  &__btn-group {
    @extend .btn-group;
    @extend .pt-4;
    @extend .btn-group--centered;

    & > * {
      &:not(:last-child) {
        @extend .mr-3;
      }
    }
  }
}
