.summary__content {
  margin-bottom: 15px;

  span {
    text-align: right;
    display: block;
    font-size: 14px;
    background: #ddd;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 0;
  }
}

.summary__block {
  .summ--left {
    display: inline-block;
    width: 28%;
    text-align: right;

    a {
      text-decoration: underline;
    }
  }

  .summ--right {
    display: inline-block;
    width: 70%;
    text-align: right;
  }
}

.note__block {
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 15px;

  p {
    margin-bottom: 0;

    a {
      text-decoration: underline;
    }
  }
}

.inbound__track {
  overflow-x: auto;
  position: relative;
  padding: 0 0 40px;

  table {
    tbody {
      tr {
        display: table-row;

        th {
          display: table-cell;
        }

        td {
          display: table-cell;
        }
      }
    }
  }

  .pagination__table {
    position: absolute;
    right: 0;
    bottom: 0;

    td {
      border: none;

      table {
        td {
          border-radius: 50%;
          vertical-align: middle;
          border: none;
          padding: 5px;
        }
      }
    }
  }
}
