.template {
  $height: 340px;

  @extend .pb-5;
  position: relative;
  display: flex;
  flex-direction: column;
  // height: $height;

  & > *:not(:last-child, :first-child) {
    @include rem(margin-bottom, 10px);
  }

  &__img {
    @extend .inline-bg;
    @extend .inline-bg--left;
    height: 150px;

    img {
      width: 100%;
    }
  }

  &__breadcrumbs {
    @include create-hidden-shadow(100px);
    $height: 24px;
    height: $height;
    overflow: hidden;

    span {
      @include rem(margin-right, 5px);
      display: inline-block;
      color: $brand-dark;
      font-size: $font-xxs;

      &:not(:last-child) {
        &:after {
          @include rem(margin-left, 5px);
          content: '/';
        }
      }
    }
  }

  &__title {
    $line-height: 1.625;

    h3 {
      line-height: $line-height;
      font-size: $font-size-default;
      color: $font-black;
      font-weight: bold;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__favourite {
    position: absolute;
    cursor: pointer;
    margin: 0;
    left: -11px;
    top: -11px;
    height: 22px;

    .template__icon {
      &--filled {
        display: none;
      }
    }

    &.isOpen {
      .template__icon {
        &--filled {
          display: block;
        }

        &--unfilled {
          display: none;
        }
      }
    }
  }

  &__use {
    @extend %flex--default--between;
    flex-wrap: nowrap;

    a {
      @include rem(margin-left, 10px);
      flex-shrink: 0;
    }

    input[type="number"] {
      min-width: 0;
      padding-left: 4px;
      padding-right: 4px;
    }

    &--only-btn {
      margin-top: auto;

      a,
      button {
        margin: 0;
      }
    }
  }
}
