.tile-bar {
  @extend %flex--start--default;

  &__item {
    @extend %flex--default--start;

    @include rem(padding, 13px 10px);
    float: left;
    width: 25%;
    border-left: 3px solid $brand-success;

    .icon-tile {
      @include rem(margin-right, 8px);
      flex-shrink: 0;
    }
  }

  &__title,
  &__description,
  &__note {
    margin-bottom: 0;
  }

  &__title {
    font-size: $font-xxs;
    text-transform: uppercase;
  }

  &__description {
    @extend .weight--bold;
    font-size: $font-s;
  }

  &__note {
    &--red {
      color: $brand-dangerous;
    }
  }
}
