.upload-mail {
  & > *:not(:last-child) {
    @extend .mb-4;
  }

  &__row {
    h2 {
      @extend .mb-3;
    }

    p {
      @extend .font-text;
      @extend .mb-3;
      font-weight: 100;
    }
  }

  &__drop-zone {
    position: relative;
  }
}

.drop-zone {
  background: radial-gradient(circle, $brand-white 0%, rgba(229, 232, 235, 0.3) 100%);
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  border: dashed 2px $brand-darkgrey;
  border-image: url(../gfx/images/dropzone-border.png) 2 round;

  &__file-name {
    width: 800px;
    position: absolute;
    transform: translateX(calc(-50% + 36px));
  }

  &__btn {
    @extend .bg-darker;
    @extend .badge;
    @extend .badge--m;
    @extend .badge--hover;
    position: absolute;
    cursor: pointer;

    svg {
      width: 10px;
    }

    &.close {
      right: -8px;
      top: -8px;

      &:hover {
        right: -9px;
        top: -9px;
      }
    }

    &.question {
      right: 10px;
      top: 10px;

      &:hover {
        right: 9px;
        top: 9px;
      }
    }
  }

  &--dropping {
    padding: 52.3px;
  }

  &--dropped {
    padding: 2.3rem;
    padding-bottom: 3.8rem;
  }

  &__content {
    display: inline-block;
    position: relative;

    .icon-csv {
      width: 73px;
    }

    .icon-drop {
      width: 300px;
      transform: translateX(-140px);
    }

    .icon-cross {
      width: 10px;
    }

    p {
      font-weight: 100;
      margin: 0;
    }
  }

  &__offer {
    @extend .pt-3;
    text-align: center;

    span,
    p {
      @extend .font-text;
      font-weight: 100;
    }

    p {
      @extend .mt-3;
      @extend .mb-0;
    }

    span {
      &:before,
      &:after {
        @extend .bg-grey;
        content: '';
        width: 100px;
        height: 2px;
        display: inline-block;
      }

      &:before {
        transform: translate(-10px, -3px);
      }

      &:after {
        transform: translate(10px, -3px);
      }
    }
  }
}
